<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>安徽中医药大学2023年普通本科招生计划-本科招生网</title><meta name="pageType" content="3">
<meta name="pageTitle" content="安徽中医药大学2023年普通本科招生计划">
<META Name="keywords" Content="本科招生网,招生计划,安徽,中医药,中医,医药,大学,2023,20,23,普通本科,普通,本科,招生,生计,计划" />
<META Name="description" Content="安徽中医药大学2023年普通本科招生计划" />

   <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <link href="../../style/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
  
   
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:776562626572323076784756525b5742000300014155 -->
<link rel="stylesheet" type="text/css" href="../../content.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1243,'/content.jsp',2916,2117891958)</script>
</head>
<body style="background:#e8e8ea !important;">
<div class="top_line">
    <div class="w1200">
         <div class="top_line_left"><span style="float:left">今天是：</span><script language="javascript" src="/system/resource/js/calendar/simple.js"></script>               
<script language="JavaScript">
//阳历
var c_Calendar1108409EnDateString;

var c_Calendar1108409WeekDayString;

//阴历
var c_Calendar1108409CnDateString;
//节气
var c_Calendar1108409JQString;
//年
var c_Calendar1108409YearString;
//月
var c_Calendar1108409MonthString;
//日
var c_Calendar1108409DayString;
//周
var c_Calendar1108409WeekString;
//显示
var c_Calendar1108409ShowString;
function RunGLNL1108409()
{          
    var  sc =new Simple_Calendar ();
    sc.init();
    c_Calendar1108409CnDateString=sc.getCnDateString();
    c_Calendar1108409WeekDayString=sc.getCalendarWeekString();
    c_Calendar1108409JQString=sc.getJQString();
    c_Calendar1108409EnDateString=sc.getEnDateString();
    c_Calendar1108409YearString=sc.getYearString();
    c_Calendar1108409MonthString=sc.getMonthString();
    c_Calendar1108409DayString=sc.getDayString();
    c_Calendar1108409WeekString=sc.getWeekString();
    c_Calendar1108409ShowString= "";
}
RunGLNL1108409();
      
c_Calendar1108409ShowString+=c_Calendar1108409EnDateString; 
c_Calendar1108409ShowString+="&nbsp;&nbsp;"+c_Calendar1108409WeekDayString; 



</script>
<div id="c_lunar1108409"></div>
<script>
	document.getElementById("c_lunar1108409").innerHTML = c_Calendar1108409ShowString;
</script>
</div>
        <div class="top_line_right top_link">

<script language="javascript">
function dosuba1108410a()
{
    try{
        var ua = navigator.userAgent.toLowerCase();
        if(ua.indexOf("msie 8")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
        }else if(ua.toLowerCase().indexOf("rv:")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE11+
        }else{
            if (document.all) 
            {
                window.external.addFavorite(document.location.href, document.title);
            }else if(window.sidebar)
            {
                window.sidebar.addPanel( document.title, document.location.href, "");//firefox
            }
            else
            {
                alert(hotKeysa1108410a());
            }
        }

    }
    catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
}
function hotKeysa1108410a() 
{
    var ua = navigator.userAgent.toLowerCase(); 
    var str = "";    
    var isWebkit = (ua.indexOf('webkit') != - 1); 
    var isMac = (ua.indexOf('mac') != - 1);     
    if (ua.indexOf('konqueror') != - 1) 
    {  
        str = 'CTRL + B'; // Konqueror   
    } 
    else if (window.home || isWebkit || isMac) 
    {        
        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
    }
    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
}
function setHomepagea1108410a()
{
    var url = document.location.href;
    if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
    }
    else if (window.sidebar)
    {
        if(window.netscape)
        {
             try{
                  netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
             }catch (e){
                   alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
             }
        }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage',url);
    }
    else
    {
        alert("浏览器不支持自动设为首页，请手动设置");
    }
}
</script>

            <a href="https://www.ahtcm.edu.cn/index.htm">学校主页</a> 

        </div>
    </div>
</div>
<div class="header">
    <div class="w1200">
        <div class="logo">
<a href="../../index.htm"><img src="../../images/logo.png" alt="" /></a></div>
        


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script>
<div id="divu3"></div>
<script type="text/html" id="htmlu3">
    <div id="appu3">
        <div v-if="!isError" class="i-search ">
            <div class="fl"><input name='' id=""  type="text" placeholder="输入关键字！"  class="search-txt" style="color:#999999;" v-model=query.keyWord @keyup.enter="onSubmit"></div>
            <div class="fr"><input name="" type="submit" class="search-btn" value="" v-on:click="onSubmit()"></div>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu3").html($("#htmlu3").text());
</script>
<script>
    var appOwner = "2117891958";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu3",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
    </div>
</div>
<div class="i-nav">
    <ul class="nav clearfix">
        <li class="nLi ">
            <h3><a href="../../index.htm">招生首页</a></h3>
        </li>
        <li class="nLi ">
            <h3><a href="../../xxgk/xxjs.htm">学校概况</a></h3>
<ul class="sub">
<li><a href="../../xxgk/xxjs.htm">学校介绍</a></li>
<li><a href="../../xxgk/xxbs.htm">学校标识</a></li>
<li><a href="../../xxgk/rcpy.htm">人才培养</a></li>
<li><a href="../../xxgk/sbjs.htm">硕博介绍</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="../../tzgg.htm">通知公告</a></h3>
        </li>
        <li class="nLi on">
            <h3><a href="../../zszn/zszc.htm">招生指南</a></h3>
<ul class="sub">
<li><a href="../../zszn/zszc.htm">招生章程</a></li>
<li><a href="../../zszn/zsjh.htm">招生计划</a></li>
<li><a href="../../zszn/lqfsx.htm">录取分数线</a></li>
<li><a href="../../zszn/zszcfg.htm">招生政策法规</a></li>
<li><a href="../../zszn/zytbzn.htm">志愿填报指南</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="../../zhcx/bklqcx.htm">综合查询</a></h3>
<ul class="sub">
<li><a href="../../zhcx/bklqcx.htm">本科录取查询</a></li>
<li><a href="../../zhcx/zsbxx.htm">专升本信息</a></li>
<li><a href="https://answer.eol.cn/question/index?id=3333">在线咨询答疑</a></li>
<li><a href="../../zhcx/zslxdh.htm">招生联系电话</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="../../yxzl/xyjs.htm">院系纵览</a></h3>
<ul class="sub">
<li><a href="../../yxzl/xyjs.htm">学院介绍</a></li>
<li><a href="../../yxzl/zyjs.htm">专业介绍</a></li>
<li><a href="../../yxzl/fsyy.htm">附属医院</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="../../yxaz/dlwz.htm">印象安中</a></h3>
<ul class="sub">
<li><a href="../../yxaz/dlwz.htm">地理位置</a></li>
<li><a href="../../yxaz/xyty.htm">校园体验</a></li>
<li><a href="../../yxaz/shzn.htm">生活指南</a></li>
<li><a href="../../yxaz/jzxj.htm">奖助学金</a></li>
<li><a href="../../yxaz/jycy.htm">就业创业</a></li>
<li><a href="../../yxaz/zxsp.htm">在线视频</a></li>
</ul>
        </li>

    </ul>
    
</div>

<!--banner-->
<div class="list_banner"><img src="../../images/nybanner.png" style="max-width:100%;" /></div>
<!--主要内容开始-->
<div class="listmain clearfix">
  
    <div class="lm-right clearfix" style="width:96%;">
        <div class="this-name">
            <h1>
招生计划</h1>
            <span>
    当前位置: 
                        <a href="../../index.htm">招生首页</a>
                >>
                <a href="../../zszn/zszc.htm">招生指南</a>
                >>
                <a href="../../zszn/zsjh.htm">招生计划</a>
                >>
                正文
</span>
        </div>
        <div class="clearboth"></div>
        

<script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="../../_dwr/interface/NewsvoteDWR.js"></script><script language="javascript" src="../../_dwr/engine.js"></script><script language="javascript" src="/system/resource/js/news/newscontent.js"></script><LINK href="/system/resource/js/photoswipe/3.0.5.1/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/js/photoswipe/3.0.5.1/pw.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><form name="_newscontent_fromname">
<div class="c-content">
<h1 class="c-title">安徽中医药大学2023年普通本科招生计划</h1>
<div class="other-s">发布日期：2023-06-19&nbsp;&nbsp;&nbsp;&nbsp;作者： &nbsp;&nbsp;&nbsp;&nbsp;来源： &nbsp;&nbsp;&nbsp;&nbsp;点击：<script>_showDynClicks("wbnews", 2117891958, 2916)</script></div>


    <div id="vsb_content"><div class="nr-info"><div class="v_news_content">
<p style="text-align: center"><img src="/__local/B/77/DA/B065DBFD4D6995CB798875DB7C4_19BA0237_4D7A01.jpg" width="700" height="512" vsbhref="vurl" vurl="/_vsl/B77DAB065DBFD4D6995CB798875DB7C4/19BA0237/4D7A01" vheight=" 564px" vwidth=" 857px" orisrc="/__local/B/77/DA/B065DBFD4D6995CB798875DB7C4_19BA0237_4D7A01.jpg" class="img_vsb_content" style="width: 857px; height: 564px"></p>
<p></p>
</div></div></div><div id="div_vote_id"></div>
        <p align="right">
        <p style="font-size:14px;">上一条：<a href="2926.htm" style="color:#666;font-size:14px;">安徽中医药大学2024年普通本科招生计划</a></p>
        <p style="margin-top:10px;font-size:14px;">下一条：<a href="2906.htm" style="color:#666;font-size:14px;">安徽中医药大学2022年普通本科招生计划</a></p>
    </p>

</div>
</form>


    </div>
</div>
<!--主要内容结束-->
<div class="copyright">
<!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>
   安徽中医药大学招生办 电话：0551-68129059 邮编：230012
</p>

    </div>
  <script type="text/javascript" src="../../js/jquery.SuperSlide.js"></script>
<script id="jsID" type="text/javascript">

        jQuery("#nav").slide({
            type:"menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
            titCell:".nLi", //鼠标触发对象
            targetCell:".sub", //titCell里面包含的要显示/消失的对象
            effect:"slideDown", //targetCell下拉效果
            delayTime:300 , //效果时间
            triggerTime:0, //鼠标延迟触发时间（默认150）
            returnDefault:true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
        });
    </script>

</body>
<!--[if lt IE 9]>
     <script type="text/javascript">
       document.write("<div style='position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100000; width: 100%; height: 100%; padding-top: 200px;  background-color: #fff'><P  style='font-size: 50px; text-align: center;height:60px;line-height:60px;'>请使用高版本IE浏览器或者谷歌浏览器！</P></div>")
     </script>
   <![endif]-->
</html>
















