<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>本科招生网</title><meta name="pageType" content="1">
<meta name="pageTitle" content="本科招生网">
<META Name="keywords" Content="本科招生网" />

  <meta name="viewport" content="width=device-width, initial-scale=0.3">
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:776562626572323076784756525b5742000300014155 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,2117891958)</script>
</head>
<body>
<div class="top_line">
    <div class="w1200">
        <div class="top_line_left"><span style="float:left">今天是：</span><script language="javascript" src="/system/resource/js/calendar/simple.js"></script>               
<script language="JavaScript">
//阳历
var c_Calendar1108409EnDateString;

var c_Calendar1108409WeekDayString;

//阴历
var c_Calendar1108409CnDateString;
//节气
var c_Calendar1108409JQString;
//年
var c_Calendar1108409YearString;
//月
var c_Calendar1108409MonthString;
//日
var c_Calendar1108409DayString;
//周
var c_Calendar1108409WeekString;
//显示
var c_Calendar1108409ShowString;
function RunGLNL1108409()
{          
    var  sc =new Simple_Calendar ();
    sc.init();
    c_Calendar1108409CnDateString=sc.getCnDateString();
    c_Calendar1108409WeekDayString=sc.getCalendarWeekString();
    c_Calendar1108409JQString=sc.getJQString();
    c_Calendar1108409EnDateString=sc.getEnDateString();
    c_Calendar1108409YearString=sc.getYearString();
    c_Calendar1108409MonthString=sc.getMonthString();
    c_Calendar1108409DayString=sc.getDayString();
    c_Calendar1108409WeekString=sc.getWeekString();
    c_Calendar1108409ShowString= "";
}
RunGLNL1108409();
      
c_Calendar1108409ShowString+=c_Calendar1108409EnDateString; 
c_Calendar1108409ShowString+="&nbsp;&nbsp;"+c_Calendar1108409WeekDayString; 



</script>
<div id="c_lunar1108409"></div>
<script>
	document.getElementById("c_lunar1108409").innerHTML = c_Calendar1108409ShowString;
</script>
</div>
        <div class="top_line_right top_link">

<script language="javascript">
function dosuba1108410a()
{
    try{
        var ua = navigator.userAgent.toLowerCase();
        if(ua.indexOf("msie 8")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
        }else if(ua.toLowerCase().indexOf("rv:")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE11+
        }else{
            if (document.all) 
            {
                window.external.addFavorite(document.location.href, document.title);
            }else if(window.sidebar)
            {
                window.sidebar.addPanel( document.title, document.location.href, "");//firefox
            }
            else
            {
                alert(hotKeysa1108410a());
            }
        }

    }
    catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
}
function hotKeysa1108410a() 
{
    var ua = navigator.userAgent.toLowerCase(); 
    var str = "";    
    var isWebkit = (ua.indexOf('webkit') != - 1); 
    var isMac = (ua.indexOf('mac') != - 1);     
    if (ua.indexOf('konqueror') != - 1) 
    {  
        str = 'CTRL + B'; // Konqueror   
    } 
    else if (window.home || isWebkit || isMac) 
    {        
        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
    }
    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
}
function setHomepagea1108410a()
{
    var url = document.location.href;
    if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
    }
    else if (window.sidebar)
    {
        if(window.netscape)
        {
             try{
                  netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
             }catch (e){
                   alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
             }
        }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage',url);
    }
    else
    {
        alert("浏览器不支持自动设为首页，请手动设置");
    }
}
</script>

            <a href="https://www.ahtcm.edu.cn/index.htm">学校主页</a> 

        </div>
    </div>
</div>
<div class="header">
    <div class="w1200">
        <div class="logo">
<a href="index.htm"><img src="images/logo.png" alt="" /></a></div>
        


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script>
<div id="divu3"></div>
<script type="text/html" id="htmlu3">
    <div id="appu3">
        <div v-if="!isError" class="i-search ">
            <div class="fl"><input name='' id=""  type="text" placeholder="输入关键字！"  class="search-txt" style="color:#999999;" v-model=query.keyWord @keyup.enter="onSubmit"></div>
            <div class="fr"><input name="" type="submit" class="search-btn" value="" v-on:click="onSubmit()"></div>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu3").html($("#htmlu3").text());
</script>
<script>
    var appOwner = "2117891958";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu3",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
    </div>
</div>
<div class="i-nav">
    <ul class="nav clearfix">
        <li class="nLi on">
            <h3><a href="index.htm">招生首页</a></h3>
        </li>
        <li class="nLi ">
            <h3><a href="xxgk/xxjs.htm">学校概况</a></h3>
<ul class="sub">
<li><a href="xxgk/xxjs.htm">学校介绍</a></li>
<li><a href="xxgk/xxbs.htm">学校标识</a></li>
<li><a href="xxgk/rcpy.htm">人才培养</a></li>
<li><a href="xxgk/sbjs.htm">硕博介绍</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="tzgg.htm">通知公告</a></h3>
        </li>
        <li class="nLi ">
            <h3><a href="zszn/zszc.htm">招生指南</a></h3>
<ul class="sub">
<li><a href="zszn/zszc.htm">招生章程</a></li>
<li><a href="zszn/zsjh.htm">招生计划</a></li>
<li><a href="zszn/lqfsx.htm">录取分数线</a></li>
<li><a href="zszn/zszcfg.htm">招生政策法规</a></li>
<li><a href="zszn/zytbzn.htm">志愿填报指南</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="zhcx/bklqcx.htm">综合查询</a></h3>
<ul class="sub">
<li><a href="zhcx/bklqcx.htm">本科录取查询</a></li>
<li><a href="zhcx/zsbxx.htm">专升本信息</a></li>
<li><a href="https://answer.eol.cn/question/index?id=3333">在线咨询答疑</a></li>
<li><a href="zhcx/zslxdh.htm">招生联系电话</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="yxzl/xyjs.htm">院系纵览</a></h3>
<ul class="sub">
<li><a href="yxzl/xyjs.htm">学院介绍</a></li>
<li><a href="yxzl/zyjs.htm">专业介绍</a></li>
<li><a href="yxzl/fsyy.htm">附属医院</a></li>
</ul>
        </li>
        <li class="nLi ">
            <h3><a href="yxaz/dlwz.htm">印象安中</a></h3>
<ul class="sub">
<li><a href="yxaz/dlwz.htm">地理位置</a></li>
<li><a href="yxaz/xyty.htm">校园体验</a></li>
<li><a href="yxaz/shzn.htm">生活指南</a></li>
<li><a href="yxaz/jzxj.htm">奖助学金</a></li>
<li><a href="yxaz/jycy.htm">就业创业</a></li>
<li><a href="yxaz/zxsp.htm">在线视频</a></li>
</ul>
        </li>

    </ul>
  
</div>

<!--banner-->
    <script language="javascript" src="/system/resource/js/dynclicks.js"></script><div id="ibanner" class="ibanner">
    <div class="hd">
        <ul><li></li><li></li><li></li></ul>
    </div>
    <div class="bd">
        <ul>
<li><a target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 2117891958, 1019602)"><img src="images/25/05/07/1ywhow7ze3/benkezhaoshengwangtupian.jpg" /></a></li><li><a target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 2117891958, 1011542)"><img src="images/25/05/07/1ywhow7ze3/banner03.png" /></a></li><li><a target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 2117891958, 1011541)"><img src="images/25/05/07/1ywhow7ze3/banner02.png" /></a></li>

        </ul>
    </div>

    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>
</div>

<!--主要内容-->
<div class="i-main">
    <div class="w1200">
        <div class="i-m-p">
            <div class="i-m-p-left">
                <div class="i-title ys_01"><span></span><h2>招生政策</h2><a href="zszc.htm">更多>></a></div>
                <div class="i-list i-lbox">
                   <script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><ul>
<li><a href="info/1453/4966.htm">安徽中医药大学2026年普通本科招生专业选…</a><span>06/15</span></li>
<li><a href="https://www.ahzsks.cn/ptgxzs//8884.htm">关于做好2026年普通高校招生工作的通知</a><span>05/18</span></li>
<li><a href="http://www.moe.gov.cn/srcsite/A08/moe_1034/s3882/202604/t20260427_1434931.html">普通高等学校本科专业目录（2026年）</a><span>04/09</span></li>
<li><a href="https://www.ahzsks.cn/ptgxzs/8852.htm">安徽省教育厅关于做好2026年重点高校招生…</a><span>04/07</span></li>
<li><a href="https://www.ahzsks.cn/ptgxzs/7939.htm">安徽省教育厅关于发布2027年起拟在皖招生…</a><span>02/21</span></li>
<li><a href="http://www.moe.gov.cn/srcsite/A15/moe_776/s3258/202601/t20260121_1427110.html">教育部关于做好2026年普通高校招生工作的…</a><span>01/16</span></li>
<li><a href="https://xsc.ahtcm.edu.cn/info/1133/1014.htm">普通本科学生转专业转学实施办法（试行）…</a><span>07/01</span></li>
</ul><script>_showDynClickBatch(['dynclicks_u6_4966','dynclicks_u6_4916','dynclicks_u6_4946','dynclicks_u6_4926','dynclicks_u6_4956','dynclicks_u6_4936','dynclicks_u6_4116'],[4966,4916,4946,4926,4956,4936,4116],"wbnews", 2117891958)</script>

                </div>
            </div>

            <div class="i-m-p-center">
                <div class="i-title ys_02"><span></span><h2>通知公告</h2><a href="tzgg.htm">更多>></a></div>
                <div class="i-list i-lbox">
<ul>
<li><a href="info/1213/5036.htm">关于安徽中医药大学2026年安徽省农村订单…</a><span>07/28</span></li>
<li><a href="info/1213/5016.htm">【录取快报】安徽中医药大学2026年分省分…</a><span>07/17</span></li>
<li><a href="info/1213/5006.htm">【录取快报】安徽中医药大学2026年安徽省…</a><span>07/13</span></li>
<li><a href="info/1213/4876.htm">关于公布我校2026年普通高校专升本录取分…</a><span>05/21</span></li>
<li><a href="info/1213/4866.htm">关于公布安徽中医药大学2026年普通高校专…</a><span>04/23</span></li>
<li><a href="info/1213/4856.htm">关于我校2026年普通高校专升本专业课考试…</a><span>04/16</span></li>
<li><a href="info/1213/4846.htm">安徽中医药大学2026年普通高校专升本免文…</a><span>04/10</span></li>
<li><a href="info/1213/4836.htm">安徽中医药大学2026年普通高校专升本申请…</a><span>04/09</span></li>
</ul><script>_showDynClickBatch(['dynclicks_u7_5036','dynclicks_u7_5016','dynclicks_u7_5006','dynclicks_u7_4876','dynclicks_u7_4866','dynclicks_u7_4856','dynclicks_u7_4846','dynclicks_u7_4836'],[5036,5016,5006,4876,4866,4856,4846,4836],"wbnews", 2117891958)</script>

                </div>
            </div>

            <div class="i-m-p-right">
                <div class="i-title ys_03"><span></span><h2>招生章程</h2><a href="zszn/zszc.htm">更多>></a></div>
                <div class="i-list i-lbox">
<ul>
<li><a href="info/1233/4886.htm">安徽中医药大学2026年本科招生章程</a><span>05/21</span></li>
<li><a href="info/1233/4776.htm">安徽中医药大学2026年普通高校专升本招生…</a><span>03/18</span></li>
<li><a href="info/1233/4746.htm">安徽中医药大学2026年依据台湾地区大学入…</a><span>12/17</span></li>
<li><a href="info/1233/4566.htm">安徽中医药大学2025年本科招生章程</a><span>06/04</span></li>
<li><a href="info/1233/2796.htm">安徽中医药大学2025年普通高校专升本招生…</a><span>03/17</span></li>
<li><a href="info/1233/2786.htm">安徽中医药大学2025年面向台湾地区高中毕…</a><span>12/02</span></li>
<li><a href="info/1233/2776.htm">安徽中医药大学2024年本科招生章程</a><span>05/14</span></li>
<li><a href="info/1233/2766.htm">安徽中医药大学2024年普通高校专升本招生…</a><span>03/20</span></li>
</ul><script>_showDynClickBatch(['dynclicks_u8_4886','dynclicks_u8_4776','dynclicks_u8_4746','dynclicks_u8_4566','dynclicks_u8_2796','dynclicks_u8_2786','dynclicks_u8_2776','dynclicks_u8_2766'],[4886,4776,4746,4566,2796,2786,2776,2766],"wbnews", 2117891958)</script>

                </div>
            </div>
        </div>
    </div>
<!--成果转化-->
    <div class="i-cgzh">
        <div class="cgzh_title"><a href="zsdt.htm"><h2>招生动态</h2></a></div>
            <div class="w1200 cgzh_box"><ul>

  <li><a href="info/1443/5026.htm">
                    <div class="pic"> <img src="/__local/C/0A/6D/071840E920733ACA297889B3CCE_D090A3D2_50F83.jpg" alt="" class="imghover" /></div>
                   
                    
                    <p>学校召开2026年安徽省普通本科批招生...</p></a></li>
        


  <li><a href="info/1443/4996.htm">
                    <div class="pic"> <img src="/__local/E/56/46/10D210F879D23CE53687FC55857_77DACC6F_BE864.jpeg" alt="" class="imghover" /></div>
                   
                    
                    <p>学校圆满完成2026年招生宣传与志愿填...</p></a></li>
        


  <li><a href="info/1443/4986.htm">
                    <div class="pic"> <img src="/__local/1/66/BE/9C4EB72BB96C7941369D0DA843D_B0458D58_5D260.jpg" alt="" class="imghover" /></div>
                   
                    
                    <p>学校部署2026年普通本科招生录取工作</p></a></li>
        


  <li><a href="info/1443/4906.htm">
                    <div class="pic"> <img src="/__local/2/FE/49/CAD74B236DD02B68914497A43A8_B6C88553_1203BD.png" alt="" class="imghover" /></div>
                   
                    
                    <p>学校召开本科招生委员会会议</p></a></li>
        

    </ul><script>_showDynClickBatch(['dynclicks_u9_5026','dynclicks_u9_4996','dynclicks_u9_4986','dynclicks_u9_4906'],[5026,4996,4986,4906],"wbnews", 2117891958)</script>
</div>

    </div>
    <!--学生创业-->
    <div class="ixscy w1200">
        <div class="ixscy-left">
            <div class="ixscy-title1"><span class="ico01"></span><h2>招生计划</h2><a href="zszn/zsjh.htm">更多&gt;&gt;</a></div>
            <div class="i-list2 i-lbox2">
<ul>
<li><a href="info/1243/4976.htm">安徽中医药大学2026年普通本科招生计划</a><span>06/20</span></li>
<li><a href="info/1243/4586.htm">安徽中医药大学2025年普通本科招生计划</a><span>06/18</span></li>
<li><a href="info/1243/2926.htm">安徽中医药大学2024年普通本科招生计划</a><span>06/20</span></li>
<li><a href="info/1243/2916.htm">安徽中医药大学2023年普通本科招生计划</a><span>06/19</span></li>
<li><a href="info/1243/2906.htm">安徽中医药大学2022年普通本科招生计划</a><span>06/14</span></li>
<li><a href="info/1243/2896.htm">安徽中医药大学2021年秋季招生计划</a><span>06/18</span></li>
<li><a href="info/1243/2886.htm">安徽中医药大学2020年秋季招生计划</a><span>07/21</span></li>
</ul><script>_showDynClickBatch(['dynclicks_u10_4976','dynclicks_u10_4586','dynclicks_u10_2926','dynclicks_u10_2916','dynclicks_u10_2906','dynclicks_u10_2896','dynclicks_u10_2886'],[4976,4586,2926,2916,2906,2896,2886],"wbnews", 2117891958)</script>

            </div>
        </div>
        <div class="ixscy-center">
            <div class="ixscy-title1"><span class="ico02"></span><h2>往年分数线</h2><a href="zszn/lqfsx.htm">更多&gt;&gt;</a></div>
            <div class="i-list2 i-lbox2">
<ul>
<li><a href="info/1253/4686.htm">安徽中医药大学2025年分省分专业录取分数线</a><span>07/16</span></li>
<li><a href="info/1253/4336.htm">安徽中医药大学2024年分省分专业录取分数线</a><span>07/15</span></li>
<li><a href="info/1253/3026.htm">安徽中医药大学2023年分省分专业录取分数线</a><span>07/14</span></li>
<li><a href="info/1253/3016.htm">安徽中医药大学2022年分省分专业录取分数线</a><span>09/08</span></li>
<li><a href="info/1253/3006.htm">安徽中医药大学2021年分省分专业录取分数线</a><span>09/08</span></li>
<li><a href="info/1253/2996.htm">安徽中医药大学2020年分省分专业录取分数线</a><span>11/03</span></li>
<li><a href="info/1253/2986.htm">安徽中医药大学2019年分省分专业录取分数线</a><span>08/06</span></li>
</ul><script>_showDynClickBatch(['dynclicks_u11_4686','dynclicks_u11_4336','dynclicks_u11_3026','dynclicks_u11_3016','dynclicks_u11_3006','dynclicks_u11_2996','dynclicks_u11_2986'],[4686,4336,3026,3016,3006,2996,2986],"wbnews", 2117891958)</script>

            </div>
        </div>
        <div class="ixscy-right">
<script language="javascript" src="/system/resource/js/openlink.js"></script>            <ul class="ixscy_link">
                <li class="link_01"><a href="http://210.45.16.112:9900/zsxt/zsxt/kslqxx/kslqxx.do" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99322)">本科录取查询</a></li>
                <li class="link_02"><a href="http://210.45.16.11/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99323)">专升本招生栏</a></li>
                <li class="link_03"><a href="https://answer.eol.cn/question/index?id=3333" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99324)">在线咨询答疑</a></li>
                <li class="link_04"><a href="zhcx/zslxdh.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99325)">招生咨询及监督电话</a></li>
            </ul>
        </div>
    </div>
    <!--园区服务-->
    <div class="yqfw">
        <div class="cgzh_title" style="background: url(images/cgzh_tbg1.png) center no-repeat;"><a href="yxaz1.htm"><h2>影像安中</h2></a></div>
      <div class="i-gdzt">
           <div class="hd">
               <a class="next"></a>
               <a class="prev"></a>
           </div>
           <div class="bd">
               <div class="tempWrap" style="overflow:hidden; position:relative; width:1300px"><ul class="picList" style="width: 1300px; position: relative; overflow: hidden; padding: 0; margin: 0;">
                                     <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4056.htm" target="_blank"><img src="/__local/A/5E/4C/DD8381B0935699EE72FFF14D3D8_AA2F052F_30516.jpg"></a></div>
                       <div class="title"><a href="info/1473/4056.htm" target="_blank">招生宣传片《和合共生》</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4076.htm" target="_blank"><img src="/__local/5/25/F6/EF4A5962BE087FEE9D2D143555A_78E570F2_205EC.jpg"></a></div>
                       <div class="title"><a href="info/1473/4076.htm" target="_blank">安徽中医药大学宣传片</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4226.htm" target="_blank"><img src="/__local/7/1F/32/563E1778CD0A593BB2339C84202_033D2895_59A80.png"></a></div>
                       <div class="title"><a href="info/1473/4226.htm" target="_blank">国医大师徐经世：妙手经方 德以济世</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4236.htm" target="_blank"><img src="/__local/7/E2/D4/EAA94AB25B3CBC98EA483EEE633_5698FCC7_5D547.png"></a></div>
                       <div class="title"><a href="info/1473/4236.htm" target="_blank">国医大师韩明向：扎根江淮六十载 大医精...</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4326.htm" target="_blank"><img src="/__local/1/F5/43/1E1FB3E2EB9D081907F40DF7B23_CF4AF8D1_81FA0.png"></a></div>
                       <div class="title"><a href="info/1473/4326.htm" target="_blank">《你好，大医生》妙手神针</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4316.htm" target="_blank"><img src="/__local/E/9F/3E/15F6EE584E4CD2337ED13F632BB_BB01A905_1C807.png"></a></div>
                       <div class="title"><a href="info/1473/4316.htm" target="_blank">中医药国际化传播——“小小”皮肤病，...</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4306.htm" target="_blank"><img src="/__local/E/41/44/F7949068DE1D771D7D7342B1191_9E2F3E46_536B7.png"></a></div>
                       <div class="title"><a href="info/1473/4306.htm" target="_blank">安徽中医药大学2024级新生开学典礼</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4296.htm" target="_blank"><img src="/__local/B/41/3D/B7FC2FDB450BFC877C76FA1B040_68C85CC4_63C27.png"></a></div>
                       <div class="title"><a href="info/1473/4296.htm" target="_blank">安徽中医药大学五禽戏</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4286.htm" target="_blank"><img src="/__local/F/C9/89/F1565886080D2146CD397EFB810_637B1FC2_938E6.png"></a></div>
                       <div class="title"><a href="info/1473/4286.htm" target="_blank">原创交响乐《舞梦》——安徽省第七届大...</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4276.htm" target="_blank"><img src="/__local/F/A7/F8/095835C86B37CBB96A193D5C356_5D88D95F_B1834.png"></a></div>
                       <div class="title"><a href="info/1473/4276.htm" target="_blank">《逐梦》——安徽中医药大学2024年毕业...</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4266.htm" target="_blank"><img src="/__local/9/14/C1/9FEEDD6F77E4614862B4443F5F1_F7460CED_82F98.png"></a></div>
                       <div class="title"><a href="info/1473/4266.htm" target="_blank">“人才兴皖‘就’在江淮”安徽省2024届...</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4256.htm" target="_blank"><img src="/__local/D/A6/55/0DAAC3EA14D4D306D9DECA2E2E4_B24046B6_7D397.png"></a></div>
                       <div class="title"><a href="info/1473/4256.htm" target="_blank">【安徽日报】高考倒计时 传授“小妙招”</a></div>
                   </li>
                   <li style="float: left; width: 307px;">
                       <div class="pic"><a href="info/1473/4246.htm" target="_blank"><img src="/__local/3/10/F5/0AC49D5264E71399A652EB062EC_FF632C16_1F6AA.jpg"></a></div>
                       <div class="title"><a href="info/1473/4246.htm" target="_blank">《健康知时节》第一期《 端午食药膳——...</a></div>
                   </li>

               </ul></div>
           </div>
       </div>
<script>_showDynClickBatch(['dynclicks_u13_4056','dynclicks_u13_4076','dynclicks_u13_4226','dynclicks_u13_4236','dynclicks_u13_4326','dynclicks_u13_4316','dynclicks_u13_4306','dynclicks_u13_4296','dynclicks_u13_4286','dynclicks_u13_4276','dynclicks_u13_4266','dynclicks_u13_4256','dynclicks_u13_4246'],[4056,4076,4226,4236,4326,4316,4306,4296,4286,4276,4266,4256,4246],"wbnews", 2117891958)</script>
    </div>
</div>
<div class="footer">
    <div class="end_link w1200">
        <div class="end_link_left">友情链接</div>
        <div class="end_link_right">
<a href="http://jwc.ahtcm.edu.cn" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99330)">教务处</a>
<a href="http://xsc.ahtcm.edu.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99326)">学生工作部（学生处）</a>
<a href="http://gaokao.chsi.com.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99327)">阳光高考</a>
<a href="http://jyt.ah.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99328)">安徽省教育厅</a>
<a href="https://www.ahzsks.cn/index.htm" onclick="_addDynClicks(&#34;wburl&#34;, 2117891958, 99329)">安徽省考试院</a>

        </div>
    </div>
    <div class="copyright">
<!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>
   安徽中医药大学招生办 电话：0551-68129059 邮编：230012
</p>

    </div>
</div>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>

<script type="text/javascript">
    jQuery(".ibanner").slide({mainCell:".bd ul",autoPlay:true});
</script>
  <script id="jsID" type="text/javascript">

        jQuery("#nav").slide({
            type:"menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
            titCell:".nLi", //鼠标触发对象
            targetCell:".sub", //titCell里面包含的要显示/消失的对象
            effect:"slideDown", //targetCell下拉效果
            delayTime:300 , //效果时间
            triggerTime:0, //鼠标延迟触发时间（默认150）
            returnDefault:true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
        });
    </script>
       <script type="text/javascript">jQuery(".i-gdzt").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,trigger:"click",scroll:1,vis:4});</script>
    
    <script id="eda_bar_script" src="https://answer.eol.cn/school/pc/school3333.js"></script>
    
</body>
<!--[if lt IE 9]>
     <script type="text/javascript">
       document.write("<div style='position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100000; width: 100%; height: 100%; padding-top: 200px;  background-color: #fff'><P  style='font-size: 50px; text-align: center;height:60px;line-height:60px;'>请使用高版本IE浏览器或者谷歌浏览器！</P></div>")
     </script>
   <![endif]-->
</html>
