<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>安徽农业大学-招生信息网本科</title><meta name="pageType" content="1">
<meta name="pageTitle" content="安徽农业大学-招生信息网本科">
<META Name="keywords" Content="安徽农业大学-招生信息网本科" />

        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/min.js"></script>
        <script type="text/javascript" src="js/slider.js"></script>
        <script type="text/javascript" src="js/superSlide.js"></script>
        <script type="text/javascript" src="js/img_silder.js"></script>
    <!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:776562626572323076784752525a5742000200004050 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1877718840)</script>
</head>
    <body>
    <script id="eda_bar_script" src="https://answer.eol.cn/school/pc/school649.js"></script>
        <header class="header">
            <div class="top">
                <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm" title="211教务处-本科招生信息网"><img src="images/logo_zsw_new.png" /></a></div>
                <div class="top_right">
                    <div class="rig_nav">
                        <script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script>
                    </div>
                    <div class="search">
                        


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError" class="input">
        <span class="sear_ico"></span>
            <input type="text"  v-model=query.keyWord @keyup.enter="onSubmit">
        </div>
        <button v-on:click="onSubmit()">搜索</button>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "1877718840";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://bdcmsdynamic.ahau.edu.cn/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
                    </div>
                </div>
            </div>
        </header>
        <div class="nav">
            <UL class="nav_con">
        <LI><A id="current" href="index.htm">招生首页</A>
    </LI>
    <LI><A href="https://www.ahau.edu.cn/xxgk/xxjj.htm">学校概况</A>
    <UL>
      <LI><A href="https://www.ahau.edu.cn/xxgk/xxjj.htm">学校简介</A></LI>
      <LI><A href="https://www.ahau.edu.cn/xxgk/lsyg.htm">历史沿革</A></LI>
      <LI><A href="xxgk/zsld.htm">招生亮点</A></LI>
      <LI><A href="xxgk/jyqk.htm">就业情况</A></LI>
      <LI><A href="xxgk/ssbsd.htm">硕士博士点</A></LI>
      <LI><A href="xxgk/yzsyjd.htm">优质生源基地</A></LI>
    </UL>
    </LI>
    <LI><A href="xwzx/zsdt.htm">新闻资讯</A>
    <UL>
      <LI><A href="xwzx/zsdt.htm">招生动态</A></LI>
      <LI><A href="xwzx/xyxw.htm">校园新闻</A></LI>
    </UL>
    </LI>
    <LI><A href="tzgg.htm">通知公告</A>
    </LI>
    <LI><A href="xxcx.htm">信息查询</A>
    <UL>
      <LI><A href="xxcx/zszc.htm">招生章程</A></LI>
      <LI><A href="xxcx/zsjh.htm">招生计划</A></LI>
      <LI><A href="http://app.ahau.edu.cn/recruit/public/zscx.jsp">录取信息</A></LI>
      <LI><A href="http://app.ahau.edu.cn/recruit/public/zsxsxxCountSearchMobile.jsp">历年分数</A></LI>
    </UL>
    </LI>
    <LI><A href="zszx.htm">招生咨询</A>
    <UL>
      <LI><A href="https://answer.eol.cn/fillmess/index?id=649&source=gw_pc">智能问答</A></LI>
      <LI><A href="zszx/zxdh.htm">咨询电话</A></LI>
      <LI><A href="https://app.ahau.edu.cn/zsbbm/public/zsbxscjView.jsp?bh=20260412020524103884198">报名系统</A></LI>
      <LI><A href="https://zsb.ahau.edu.cn/info/1028/11744.htm">材料收集</A></LI>
    </UL>
    </LI>
    <LI><A href="zdxy.htm">直达学院</A>
    <UL>
      <LI><A href="https://gaokaobang.360eol.com/rector/ahau/index.html">资讯平台</A></LI>
      <LI><A href="http://www.ahau.edu.cn/yxbm/jxdw.htm">学院官网</A></LI>
      <LI><A href="zdxy/zyjj.htm">专业简介</A></LI>
    </UL>
    </LI>
    <LI><A href="zjan.htm">走进安农</A>
    <UL>
      <LI><A href="zjan/xcsp.htm">宣传视频</A></LI>
      <LI><A href="zjan/xxfg.htm">学校风光</A></LI>
      <LI><A href="zjan/xysh.htm">校园生活</A></LI>
      <LI><A href="zjan/ssfc.htm">师生风采</A></LI>
    </UL>
    </LI>
    <LI><A href="lxwm.htm">联系我们</A>
    </LI>
    </UL>
        </div>
        <div class="clear"></div>
        <div class="main">
            <div class="content">
                <div id="banner_tabs" class="flexslider">
                        <ul class="slides">
<li>
<a title="" href="http://app.ahau.edu.cn/recruit/public/zscx.jsp">
<img width="1200" height="400" alt="" src="images/weixintupian_20250711154923.jpg" style="background: url(images/weixintupian_20250711154923.jpg) no-repeat center;">
</a>
</li>

<li>
<a title="" href="https://gaokaobang.360eol.com/rector/ahau/index.html">
<img width="1200" height="400" alt="" src="images/weixintupian_20250613152317.png" style="background: url(images/weixintupian_20250613152317.png) no-repeat center;">
</a>
</li>

<li>
<a title="" href="https://book.zjzw.cn/books/cico/mobile/index.html">
<img width="1200" height="400" alt="" src="images/weixintupian_20260609113839_514_881.png" style="background: url(images/weixintupian_20260609113839_514_881.png) no-repeat center;">
</a>
</li>

<li>
<img width="1200" height="400" alt="" src="images/202328.jpg" style="background: url(images/202328.jpg) no-repeat center;">
</li>

<li>
<img width="1200" height="400" alt="" src="images/33.jpg" style="background: url(images/33.jpg) no-repeat center;">
</li>

</ul>
<ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
                        <li><a class="flex-next" href="javascript:;">Next</a></li>
                    </ul>
                    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
                        <li class="active"><a>1</a></li>
                        
                        <li><a>2</a></li>
                        
                        <li><a>3</a></li>
                        
                        <li><a>4</a></li>
                        
                        <li><a>5</a></li>
                        
                    </ol>

                    
                    <script type="text/javascript">
                        $(function() {
                            var bannerSlider = new Slider($('#banner_tabs'), {
                                time: 5000,
                                delay: 400,
                                event: 'hover',
                                auto: true,
                                mode: 'fade',
                                controller: $('#bannerCtrl'),
                                activeControllerCls: 'active'
                            });
                            $('#banner_tabs .flex-prev').click(function() {
                                bannerSlider.prev()
                            });
                            $('#banner_tabs .flex-next').click(function() {
                                bannerSlider.next()
                            });
                        })
                    </script>
                </div>
                <div class="service">
                        <ul>
<li><a href="xxcx/zszc.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 41993)"><span><img src="images/peixunjihua.png" /></span><p>招生章程</p></a></li>
<li><a href="xxcx/zsjh.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42293)"><span><img src="images/zhaosheng.png" /></span><p>招生计划</p></a></li>
<li><a href="http://app.ahau.edu.cn/recruit/public/zsxsxxCountSearchMobile.jsp" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42294)"><span><img src="images/fenshuxianchaxun.png" /></span><p>历年分数</p></a></li>
<li><a href="http://app.ahau.edu.cn/recruit/public/zscx.jsp" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42295)"><span><img src="images/luqutongzhishu.png" /></span><p>录取查询</p></a></li>
<li><a href="https://g.360eol.com/?prefix=ahau&is_school=1" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42296)"><span><img src="images/zaixianzixun.png" /></span><p>在线咨询</p></a></li>
</ul>
                </div>
                <div class="silder" id="silder" style="width: 650px; height: 385px;">
                    <div id="slideBox" class="slideBox">
                        <script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><div class="hd">
    <ul>
                <li></li>
        <li></li>
    </ul>
</div>
<div class="bd">

    <ul>
       
        <li>
            <a href="info/1043/12234.htm">
            <div class="play"><img src="images/play.png" alt=""></div>
                <img src="/__local/7/FC/5D/035A82A56E3ADC28D7E497759EB_1D8EDBDD_45BC9.jpg" />
                <p class="hd_text">安徽农业大学2026年招生宣传片《我们在安农》</p>
            </a>
        </li>
       
        <li>
            <a href="info/1043/12094.htm">
            <div class="play"><img src="images/play.png" alt=""></div>
                <img src="/__local/4/64/C5/809D5805A952A294390557B97D2_000D6304_A5605.png" />
                <p class="hd_text">校长操海群为2026年高考考生寄语送祝福</p>
            </a>
        </li>
    </ul>
</div><script>_showDynClickBatch(['dynclicks_u6_12234','dynclicks_u6_12094'],[12234,12094],"wbnews", 1877718840)</script>

                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>
                    </div>
                </div>
                <script id="jsID" type="text/javascript">
                jQuery(".slideBox").slide( { mainCell:".bd ul",effect:"leftLoop",vis:2,interTime:3000,autoPlay:true,delayTime:1000});
                </script>
                
               
                <div class="news">
                    <div id="menu">
                        <ul id="nav">
                            <li><a href="tzgg.htm" class="selected">通知公告</a></li>
                            <li><a href="xwzx/zsdt.htm" class="" target="">招生动态</a></li>
                            <li><a href="xwzx/xyxw.htm" class="" target="">校园新闻</a></li>
                          
                        </ul>
                        <div id="menu_con">
                          <ul class="tag" style="display:block">


<div class="tt">
                                    <div class="tt_con">
                                        <div class="tt_tit"><a href="https://mp.weixin.qq.com/s/u38j2Mfy3i9xajn-xEMUyw" style="color:#f7071f;">安徽农业大学2026年高考录取日程及官方查询方式公布！</a></div>
                                        <p></p>
                                    </div>
                                </div>















<dl class="news_list">


     <dd><i></i><a href="info/1028/12164.htm">安徽农业大学2026年本科招生咨询方式汇总</a><span>2026-06-24</span></dd>



     <dd><i></i><a href="info/1028/12144.htm">安徽农业大学2026年本科招生宣传拟进高中咨询会安排一览表</a><span>2026-06-24</span></dd>



     <dd><i></i><a href="info/1028/12124.htm">安徽农业大学本科生转专业政策介绍</a><span>2026-06-24</span></dd>



     <dd><i></i><a href="info/1028/12044.htm">安徽农业大学2026年本科招生章程</a><span>2026-05-22</span></dd>



     <dd><i></i><a href="info/1028/12024.htm">关于公布我校2026年普通专升本考试各专业拟录取分数线及有关...</a><span>2026-05-20</span></dd>



     <dd><i></i><a href="info/1028/11934.htm">关于举办安徽农业大学第五届“我为安农招生代言” 招生宣传短...</a><span>2026-04-30</span></dd>



</dl>



</ul><script>_showDynClickBatch(['dynclicks_u7_12324','dynclicks_u7_12164','dynclicks_u7_12144','dynclicks_u7_12124','dynclicks_u7_12044','dynclicks_u7_12024','dynclicks_u7_11934'],[12324,12164,12144,12124,12044,12024,11934],"wbnews", 1877718840)</script>
 
                            <ul class="tag" style="display:none">


<div class="tt">
                                    <div class="tt_con">
                                        <div class="tt_tit"><a href="info/1237/12304.htm">学校召开2026年本科招生录取工作布置会</a></div>
                                        <p>本网讯 7月10日下午，我校召开2026年本科招生工作领导小组会议。校领导董雨、程道传出席会议。本科招生工作领导小组全体成员参加会议。会议由党委...</p>
                                    </div>
                                </div>















<dl class="news_list">


     <dd><i></i><a href="info/1237/12284.htm">讲好安农故事，传递安农声音——我校扎实推进2026年本科生招...</a><span>2026-07-06</span></dd>



     <dd><i></i><a href="info/1237/12114.htm">学校召开安徽省2026年普通高考外语科目网上评卷动员暨培训大...</a><span>2026-06-23</span></dd>



     <dd><i></i><a href="info/1237/12294.htm">学校扎实推进2026年招生宣传工作</a><span>2026-06-23</span></dd>



     <dd><i></i><a href="info/1237/12084.htm">校领导带队参加高中高校宣传共建活动</a><span>2026-05-29</span></dd>



     <dd><i></i><a href="info/1237/11994.htm">学校召开本科招生工作领导小组会议</a><span>2026-04-30</span></dd>



     <dd><i></i><a href="info/1237/12004.htm">学校2026年专升本专业课考试工作顺利完成</a><span>2026-04-20</span></dd>



</dl>



</ul><script>_showDynClickBatch(['dynclicks_u8_12304','dynclicks_u8_12284','dynclicks_u8_12114','dynclicks_u8_12294','dynclicks_u8_12084','dynclicks_u8_11994','dynclicks_u8_12004'],[12304,12284,12114,12294,12084,11994,12004],"wbnews", 1877718840)</script>
 
                            <ul class="tag" style="display:none">


<div class="tt">
                                    <div class="tt_con">
                                        <div class="tt_tit"><a href="info/1027/12314.htm">我校参与荣获两项国家科学技术奖</a></div>
                                        <p>本网讯 7月8日上午，国家科学技术奖励大会在人民大会堂隆重举行，会上公布了2025年度国家科学技术奖名单。我校参与完成的“蛋鸡高效精准育种技术体...</p>
                                    </div>
                                </div>















<dl class="news_list">


     <dd><i></i><a href="info/1027/12264.htm">新突破！中文顶刊《经济研究》发表我校胡联教授新成果</a><span>2026-06-29</span></dd>



     <dd><i></i><a href="info/1027/12254.htm">首期“天邦英才班”开班</a><span>2026-06-25</span></dd>



     <dd><i></i><a href="info/1027/12244.htm">再获优胜杯！学校在第十二届“挑战杯·华安证券”安徽省大学生...</a><span>2026-06-22</span></dd>



     <dd><i></i><a href="info/1027/12074.htm">3银3铜！我校学子在国际大学生程序设计竞赛（ICPC）系列赛事...</a><span>2026-05-25</span></dd>



     <dd><i></i><a href="info/1027/12064.htm">植物与动物科学进入ESI全球前1‰、材料科学进入全球前1%</a><span>2026-05-14</span></dd>



     <dd><i></i><a href="info/1027/12054.htm">学校在全国高校教师教学创新大赛安徽省赛中取得新突破</a><span>2026-05-07</span></dd>



</dl>



</ul><script>_showDynClickBatch(['dynclicks_u9_12314','dynclicks_u9_12264','dynclicks_u9_12254','dynclicks_u9_12244','dynclicks_u9_12074','dynclicks_u9_12064','dynclicks_u9_12054'],[12314,12264,12254,12244,12074,12064,12054],"wbnews", 1877718840)</script>

                             
                            
                        </div>
                    </div>
                    <script type="text/javascript" src="js/table.js"></script>
                </div>
                <div class="column">
                    <div class="column_tit">
                        招生专栏<i></i><span>Admissions column</span>
                    </div>
                    <div class="column_list">
                            <div class="column_img">


<a href="xxgk/zsld.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42287)"><img src="img/Special_img1.jpg" /></a>


<a href="https://gaokaobang.360eol.com/rector/ahau/index.html" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42288)"><img src="img/Special_img2.jpg" /></a>


<a href="https://720yun.com/t/0bvkbh89789?scene_id=95741987" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42289)"><img src="img/Special_img6.jpg" /></a>


<a href="zjan/xcsp.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42290)"><img src="img/Special_img4.jpg" /></a>


<a href="zjan/ssfc.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1877718840, 42292)" style="margin-right: 0px !important;"><img src="img/Special_img3.jpg" /></a>


 </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column_tit">
                        友情链接<i></i><span>Friendship link</span>
                    </div>
                    <div class="column_list">
                        <div class="column_img link"><div class="links">
<ul>
<li>
<a href="http://www.ahau.edu.cn/">安徽农业大学官网</a>
</li>
                            
<li>
<a href="https://www.ahzsks.cn/index.htm">安徽省教育招生考试院官网</a>
</li>
                            
<li>
<a href="http://jyt.ah.gov.cn/">安徽省教育厅官网</a>
</li>
                            
<li>
<a href="https://gaokao.chsi.com.cn/">教育部阳光高考平台</a>
</li>
                            
</ul>
</div></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="foot">
                      <div class="rwm">
                                  <img src="images/weixin.jpg" border="0">

                      </div>
                      <div class="bq">
                    <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：安徽省合肥市长江西路130号 &nbsp;邮编：230036<br />联系电话：0551—65786603 监督电话：0551-65786116 邮箱：zsb@ahau.edu.cn</p><p><br /></p>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
