<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>安庆师范大学本科招生网</title><meta name="pageType" content="1">
<meta name="pageTitle" content="安庆师范大学本科招生网">
<META Name="keywords" Content="安庆师范大学本科招生网" />


<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
<link rel="stylesheet" href="style/style.css" />
<link rel="stylesheet" href="style/banner.css" />
<link rel="shortcut icon" href="#" />

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307678475753515742000300014455 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1939795848)</script>
</head>

<body>
<!--[if lte IE 8]>
<div class="ie6"><span>非常抱歉！本网站为响应式网站，需要IE8以上浏览器环境下浏览，请用其他浏览器打开，如：360浏览器、Chrome、Firefox等。</span></div>
<style>
.a_body{ display:none;}
</style>
<![endif]-->

<div><script language="javascript" src="/system/resource/js/dynclicks.js"></script> 
    
<DIV id="adu0" width="159" style="Z-index:99999;LEFT: 0px; POSITION: absolute; TOP: 0px">
<iframe frameborder="0" src="about:blank" style="position:absolute;Z-index:-1;width:100%;height:100%;top:0;left:0;scrolling:no;filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"></iframe>
    <TABLE cellspacing="0" cellpadding="0" border="0">   
    <TBODY>   

<TR align="center">
    <TD align="left"><A href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6" target="_blank" title="" onclick="_addDynClicks('wbimage',1939795848,1019055)"><img src="images/luquchaxun1.png" width="350" height="200" border="0"></A></TD>
</TR>
   
        <TR>   
            <TD align="right" style="padding-top:1px"><table border="0" cellpadding="10" cellspacing="0"><tr><td style="background-color:#f5f5f5;padding:1px"><a href="javascript:showimagecloseu0();" class="closestyle1157753">关闭</a></td></tr></table></TD> 
        </TR>   
   
   
    </TBODY> 
    </TABLE> 
</DIV>
  
<SCRIPT>   
function showimagecloseu0()   
{   
    var obju0=document.getElementById("adu0");   
    obju0.style.display = 'none';   
};   
//水平             //上下    
   
var xu0 = 0;yu0 = 0;   
   
var xinu0 = true; yinu0 = true;   
var stepu0 = 1;   
   
var delayu0 = 88;   
 
var obju0=document.getElementById("adu0");
var bdyu0 = document.body;  
    if (document.compatMode && document.compatMode != "BackCompat")
        bdyu0 = document.documentElement;
    else
        bdyu0 = document.body;
function floatADu0()
{
    var bdy_scrollTop = document.body.scrollTop | document.documentElement.scrollTop;
    var Lu0=Tu0=0;   
    var Ru0= bdyu0.clientWidth-obju0.offsetWidth;  
    var Bu0 = bdyu0.clientHeight-obju0.offsetHeight; 
    obju0.style.left = xu0 + bdyu0.scrollLeft+"px";   
    obju0.style.top = yu0 + bdy_scrollTop+"px";   
    xu0 = xu0 + stepu0*(xinu0?1:-1);    
    if(xu0 < Lu0) 
    { 
        xinu0 = true;
        xu0 = Lu0;
    }  
    if(xu0 > Ru0)
    { 
        xinu0 = false; 
        xu0 = Ru0;
    }  
    yu0 = yu0 + stepu0*(yinu0?1:-1);    
    if(yu0 < Tu0) 
    { 
        yinu0 = true; 
        yu0 = Tu0; 
    }
    if(yu0 > Bu0) 
    { 
        yinu0 = false; 
        yu0 = Bu0; 
    }
} 
var itlu0;
if(window.navigator.userAgent.indexOf("MSIE")>=1)
{
    window.attachEvent('onload', adftu0);
}
else
{
    window.addEventListener('load',adftu0, false);
}
function adftu0()
{
    itlu0 = setInterval("floatADu0()", delayu0);   
}
    obju0.onmouseover=function(){clearInterval(itlu0);};   
    obju0.onmouseout=function(){itlu0=setInterval("floatADu0()", delayu0)};      
   
</SCRIPT></div>


<div class="a_body">
<div id="header">
<div id="nav-over"></div>
<div class="w1200">
<div class="logo fl">

<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->


<a class="logo2" href="index.htm" style="display:block"><img src="images/baisefangdaLOGO.png" style="display:block;width:100%"></a>
</div>

<div class="topr">
<div class="toplj">
<script language="javascript">
function dosuba248981a()
{
    try{
        var ua = navigator.userAgent.toLowerCase();
        if(ua.indexOf("msie 8")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
        }else if(ua.toLowerCase().indexOf("rv:")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE11+
        }else{
            if (document.all) 
            {
                window.external.addFavorite(document.location.href, document.title);
            }else if(window.sidebar)
            {
                window.sidebar.addPanel( document.title, document.location.href, "");//firefox
            }
            else
            {
                alert(hotKeysa248981a());
            }
        }

    }
    catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
}
function hotKeysa248981a() 
{
    var ua = navigator.userAgent.toLowerCase(); 
    var str = "";    
    var isWebkit = (ua.indexOf('webkit') != - 1); 
    var isMac = (ua.indexOf('mac') != - 1);     
    if (ua.indexOf('konqueror') != - 1) 
    {  
        str = 'CTRL + B'; // Konqueror   
    } 
    else if (window.home || isWebkit || isMac) 
    {        
        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
    }
    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
}
function setHomepagea248981a()
{
    var url = document.location.href;
    if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
    }
    else if (window.sidebar)
    {
        if(window.netscape)
        {
             try{
                  netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
             }catch (e){
                   alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
             }
        }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage',url);
    }
    else
    {
        alert("浏览器不支持自动设为首页，请手动设置");
    }
}
</script>

<a href="javascript:setHomepagea248981a()">设为首页</a><a onclick="javascript:dosuba248981a();" href="#">加为收藏</a>

<script language="javascript" src="/system/resource/js/openlink.js"></script></div>
<div class="soBox">
            


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script> 
<div id="divu4"></div>
<script type="text/html" id="htmlu4">
    <div id="appu4">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <span class="close"></span>
                <span class="btn"></span>
            
            <input class="tj" name="submit_button" type="submit"  value="" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu4").html($("#htmlu4").text());
</script>
<script>
    var appOwner = "1939795848";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu4",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://219.231.53.202:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
        </div>
</div>
<div class="navHome fr"><a href="#"><img src="images/nav.png"></a></div>
<div class="clear"></div>
</div>
</div>

<div class="menunav">
<div class="w1200">
<div class="nav">
<ul>

<li class="hover"><a class="a" href="index.htm">首页</a>
<ul>
<li><a href="https://www.aqnu.edu.cn/" target="_blank">学校首页</a></li>
</ul>
</li>


<li><a class="a" href="https://www.aqnu.edu.cn/xxgklm.htm" target="_blank">学校概况</a>
<ul>
<li><a href="https://www.aqnu.edu.cn/xxgklm.htm" target="_blank">学校概况</a></li>
<li><a href="https://www.aqnu.edu.cn/xxgklm/xrld.htm" target="_blank">现任领导</a></li>
<li><a href="xxgk/sdyw.htm">师大要闻</a></li>
<li><a href="https://bnxs.aqnu.edu.cn/index.htm" target="_blank">百年校史</a></li>
<li><a href="https://xcb.aqnu.edu.cn/index/sjsd.htm" target="_blank">校园风光</a></li>
<li><a href="xxgk/xxxl.htm">学校校历</a></li>
</ul>
</li>


<li><a class="a" href="xyzy.htm" target="_blank">学院专业</a>
<ul>
<li><a href="https://mp.weixin.qq.com/s/Uoyc7W1FknpOkZeDXKGmHg" target="_blank">人文学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/6XmkytN6_aUwWZiVL_ecUA" target="_blank">外国语学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/PD9PToqKSsu-huAylr-P3A" target="_blank">马克思主义学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/WXTtEYSpnO2iStpeEojS7w" target="_blank">法学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/AKIhBp9zn5ZeIY5D--Fsgg" target="_blank">经济与管理学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/iCx-U22W3VA_mVZzEmksAw" target="_blank">美术学院</a></li>
<li><a href="https://mp.weixin.qq.com/s?__biz=MzU0ODMzMzkxMQ==&mid=2247498216&idx=2&sn=bc9dbbd338f48d3715ae79567183d70a&chksm=fb4209d0cc3580c62eda215a4c4faded591cd8d95a12da28f26a131d8cd80128e5542085fe63&cur_album_id=4564922124682870785&scene=190#rd" target="_blank">音乐学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/wu-_94GmCChqYzhI7cuIPg" target="_blank">黄梅剧艺术学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/B2bmh3hjbsSn3sg2w3E9ig" target="_blank">传媒学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/SPiBAk7mIcGh9RXO53F5kQ" target="_blank">数学与统计学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/2F93gTV_eeKHjjj-Mss_Bg" target="_blank">物理与天文空间学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/av8PBSObsvHHTlBrj_BH_w" target="_blank">人工智能与计算机学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/-_saaqBKIRwrIl7n-UrL3w" target="_blank">电子信息与集成电路学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/BeFajIpZXGzoXGd6woHKkw" target="_blank">智能制造与机器人学院</a></li>
<li><a href="https://mp.weixin.qq.com/s?__biz=MzU0ODMzMzkxMQ==&mid=2247498158&idx=1&sn=5b0f5f4c82d95a5cf603315668e77017&chksm=fb420996cc3580806a50d112c085769cdee80c15e88e67666d98f8f5df2f5d32055c30ba08f1&cur_album_id=4564922124682870785&scene=190&poc_token=HCqBQ2qjOK0D" target="_blank">化学化工学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/F3zK-wI3EhfMhvnOVSq6nQ" target="_blank">能源环境与空间信息工程学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/Aymau87gN5cmou0PakfsJA" target="_blank">教育科学学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/Gv5hurPEdzw9npr7vmWy7Q" target="_blank">体育与健康学院</a></li>
<li><a href="https://mp.weixin.qq.com/s/PHIOC2z3J3RL4fTY9cdLWA" target="_blank">生命科学与食品工程学院</a></li>
</ul>
</li>


<li><a class="a" href="zsxx/zsjh.htm">招生计划</a>
</li>


<li><a class="a" href="zsxx/lnfs/lqgk.htm">历年数据</a>
<ul>
<li><a href="zsxx/lnfs/lqgk.htm">录取概况</a></li>
<li><a href="zsxx/lnfs/fzylqqk.htm">分专业录取情况</a></li>
<li><a href="https://zhaolu.zjzw.cn/release-page/overyears?key=82b185c85a95afa12f176674" target="_blank">历年数据对比</a></li>
<li><a href="zsxx/sjtj.htm">历年数据统计</a></li>
<li><a href="https://zhaolu.zjzw.cn/release-page/analysisva?key=a7bc339f9302ced29835656b" target="_blank">志愿报考分析</a></li>
</ul>
</li>


<li><a class="a" href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6" target="_blank">录取查询</a>
</li>


<li><a class="a" href="zsxx.htm">招生信息</a>
<ul>
<li><a href="zsxx/zszc1.htm">招生政策</a></li>
<li><a href="zsxx/zszc.htm">招生章程</a></li>
<li><a href="zsxx/zsjh.htm">招生计划</a></li>
<li><a href="zsxx/bkzn.htm">报考指南</a></li>
<li><a href="zsxx/lnfs/lqgk.htm">历年分数</a></li>
<li><a href="zsxx/cjcx.htm">成绩查询</a></li>
<li><a href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6" target="_blank">录取查询</a></li>
<li><a href="zsxx/cxzx.htm">查询中心</a></li>
<li><a href="zsxx/rxxz.htm">入学须知</a></li>
<li><a href="zsxx/cjwt.htm">常见问题</a></li>
</ul>
</li>


<li><a class="a" href="ksgg.htm">考试公告</a>
<ul>
<li><a href="ksgg/qgssyjs.htm">全国硕士研究生</a></li>
<li><a href="ksgg/ptzsb.htm">普通专升本</a></li>
<li><a href="ksgg/sjlk.htm">省际联考</a></li>
<li><a href="ksgg/bkdk.htm">本科对口</a></li>
<li><a href="ksgg/gzfl.htm">高职分类</a></li>
<li><a href="ksgg/dexsxw.htm">第二学士学位</a></li>
<li><a href="ksgg/dxyyslj.htm">大学英语四六级</a></li>
<li><a href="ksgg/qgjsjdj.htm">全国计算机等级</a></li>
<li><a href="ksgg/sjsjspks.htm">省计算机水平考试</a></li>
<li><a href="ksgg/gjrcyyks.htm">国际人才英语考试</a></li>
<li><a href="ksgg/jzxk.htm">教资校考</a></li>
<li><a href="ksgg/pthspcs.htm">普通话水平测试</a></li>
</ul>
</li>


<li><a class="a" href="xysp.htm">校园视频</a>
<ul>
<li><a href="xysp/xxxcp.htm">学校宣传片</a></li>
<li><a href="xysp/xyzyxc.htm">学院专业宣传</a></li>
<li><a href="xysp/xyzyxc/rwxy.htm">人文学院</a></li>
<li><a href="xysp/xyzyxc/wgyxy.htm">外国语学院</a></li>
<li><a href="xysp/xyzyxc/mkszyxy.htm">马克思主义学院</a></li>
<li><a href="xysp/xyzyxc/fxy.htm">法学院</a></li>
<li><a href="xysp/xyzyxc/jjyglxy.htm">经济与管理学院</a></li>
<li><a href="xysp/xyzyxc/msxy.htm">美术学院</a></li>
<li><a href="xysp/xyzyxc/ylxy.htm">音乐学院</a></li>
<li><a href="xysp/xyzyxc/hmjysxy.htm">黄梅剧艺术学院</a></li>
<li><a href="xysp/xyzyxc/cmxy.htm">传媒学院</a></li>
<li><a href="xysp/xyzyxc/sxytjxy.htm">数学与统计学院</a></li>
<li><a href="xysp/xyzyxc/wlytwkjxy.htm">物理与天文空间学院</a></li>
<li><a href="xysp/xyzyxc/rgznyjsjxy.htm">人工智能与计算机学院</a></li>
<li><a href="xysp/xyzyxc/dzxxyjcdlxy.htm">电子信息与集成电路学院</a></li>
<li><a href="xysp/xyzyxc/znzzyjqrxy.htm">智能制造与机器人学院</a></li>
<li><a href="xysp/xyzyxc/hxhgxy.htm">化学化工学院</a></li>
<li><a href="xysp/xyzyxc/nyhjykjxxgcxy.htm">能源环境与空间信息工程学院</a></li>
<li><a href="xysp/xyzyxc/jykxxy.htm">教育科学学院</a></li>
<li><a href="xysp/xyzyxc/tyyjkxy.htm">体育与健康学院</a></li>
<li><a href="xysp/xyzyxc/smkxyspgcxy.htm">生命科学与食品工程学院</a></li>
</ul>
</li>


<li><a class="a" href="lxwm.htm">联系我们</a>
<ul>
<li><a href="lxwm/zskszx.htm">招生考试中心</a></li>
<li><a href="lxwm/xyzsrx.htm">学院招生热线</a></li>
<li><a href="lxwm/zsksyl.htm">招生考试月历</a></li>
<li><a href="https://answer.eol.cn/board/index?id=1499&source=gw_pc">留言板</a></li>
</ul>
</li>

</ul>
</div>
</div>


</div>


<!--banner-->


<div class="banner">
    <div class="flexslider">

            <ul class="slides">
            

<li><a href="https://zsw.aqnu.edu.cn/info/2121/24969.htm" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018969)"><img src="images/tushuguan03.png" /></a></i></li>
                 
               
        
        

<li><a href="" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018921)"><img src="images/honglou2.jpg" /></a></i></li>
                 
               
        
        

<li><a href="" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018945)"><img src="images/huangmei02.jpg" /></a></i></li>
                 
               
        
        

<li><a href="" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018947)"><img src="images/xiaoxun01.jpg" /></a></i></li>
                 
               
        
        

<li><a href="" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018940)"><img src="images/huangmei01.jpg" /></a></i></li>
                 
               
        
        

<li><a href="" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1939795848, 1018941)"><img src="images/shuyuan01.jpg" /></a></i></li>
                 
               
        
</ul>

   </div>
</div>



<div class="box mt10">
<div class="w1200">




<div class="TabTitle2">
<ul>
<li class="hover" id="tz1" onmouseover="setTab('tz',1,3)"><a href="xwgg.htm">新闻公告</a></li>
<li id="tz2" onmouseover="setTab('tz',2,3)" class=""><a href="https://zsw.aqnu.edu.cn/zsxx/lnfs/lqgk.htm">历年分数</a></li>
<li id="tz3" onmouseover="setTab('tz',3,3)" class=""><a href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6">录取查询</a></li>
<div class="clear"></div>
</ul>
</div>
<div class="Tabbottom2">
<div id="con_tz_1" class="display">

<div class="list1">
<script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><ul>

<li><div class="rq1 fl">08<font>03</font></div>
<div class="zw1 fr"><a href="info/1311/25769.htm" title="2026级高职新生入学须知">2026级高职新生入学须知</a><p></p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">08<font>03</font></div>
<div class="zw1 fr"><a href="info/1311/25779.htm" title="2026级专升本（联合培养）新生入学须知">2026级专升本（联合培养）新生入学须知</a><p></p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">08<font>03</font></div>
<div class="zw1 fr"><a href="info/1311/25789.htm" title="2026级本科新生入学须知">2026级本科新生入学须知</a><p></p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">07<font>28</font></div>
<div class="zw1 fr"><a href="info/1311/25719.htm" title="2026招生录取｜安庆师范大学2026年招生录取快报（六）">2026招生录取｜安庆师范大学2026年招生...</a><p>录取快报六（7月28日）截至7月28日，我校完成湖...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">07<font>28</font></div>
<div class="zw1 fr"><a href="info/1311/25689.htm" title="学校召开2026年招生工作领导小组会议">学校召开2026年招生工作领导小组会议</a><p>7月27日，学校召开2026年招生工作领导小组会议。...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">07<font>23</font></div>
<div class="zw1 fr"><a href="info/1311/25609.htm" title="安庆师范大学2026年第二学士学位拟录取名单公示">安庆师范大学2026年第二学士学位拟录取...</a><p>根据《安庆师范大学2026年第二学士学位招生章程...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">07<font>23</font></div>
<div class="zw1 fr"><a href="info/1311/25599.htm" title="2026招生录取｜安庆师范大学2026年招生录取快报（五）">2026招生录取｜安庆师范大学2026年招生...</a><p>录取快报五（7月23日）截至7月23日，我校完成陕...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">07<font>20</font></div>
<div class="zw1 fr"><a href="info/1311/25589.htm" title="2026招生录取｜安庆师范大学2026年招生录取快报（四）">2026招生录取｜安庆师范大学2026年招生...</a><p>录取快报四（7月20日）截至7月20日，我校完成安...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">07<font>18</font></div>
<div class="zw1 fr"><a href="info/1311/25579.htm" title="安庆师范大学2026年第二学士学位招生综合测试成绩查询及复查公告">安庆师范大学2026年第二学士学位招生综...</a><p>各位考生：根据安徽省教育招生考试院相关文件及...</p></div>
<div class="clear"></div>
</li>

</ul><script>_showDynClickBatch(['dynclicks_u7_25769','dynclicks_u7_25779','dynclicks_u7_25789','dynclicks_u7_25719','dynclicks_u7_25689','dynclicks_u7_25609','dynclicks_u7_25599','dynclicks_u7_25589','dynclicks_u7_25579'],[25769,25779,25789,25719,25689,25609,25599,25589,25579],"wbnews", 1939795848)</script>

<div class="clear"></div>
</div>
<div class="gd"><a href="xwgg.htm">更多>></a></div>
 <div class="clear"></div>
</div>
<div id="con_tz_2" class="hidden">
<div class="list1">
<ul>

<li><div class="rq1 fl">04<font>21</font></div>
<div class="zw1 fr"><a href="info/1001/23969.htm" title="安庆师范大学关于2026年普通高校专升本专业课考试成绩和面试结果查询及复查公告">安庆师范大学关于2026年普通高校专升本...</a><p>各位考生：根据安徽省教育招生考试院相关文件及...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">04<font>15</font></div>
<div class="zw1 fr"><a href="info/1001/23929.htm" title="关于我校2026年专升本招生技能大赛鼓励政策及免试退役士兵考生预录取结果查询的通知">关于我校2026年专升本招生技能大赛鼓励...</a><p>根据《安庆师范大学2026年普通高校专升本招生章...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">03<font>17</font></div>
<div class="zw1 fr"><a href="info/1001/20229.htm" title="安庆师范大学2025年面向中职毕业生对口招生考试符合鼓励政策考生名单公示">安庆师范大学2025年面向中职毕业生对口...</a><p></p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">07<font>29</font></div>
<div class="zw1 fr"><a href="info/1001/22699.htm" title="我校召开2025年招生工作领导小组会议">我校召开2025年招生工作领导小组会议</a><p>7月28日，学校召开2025年招生工作领导小组会议。...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">05<font>26</font></div>
<div class="zw1 fr"><a href="info/1001/20719.htm" title="2025年普通专升本招生考试预录取结果及录取分数线查询通告">2025年普通专升本招生考试预录取结果及...</a><p>根据安徽省教育招生考试院关于印发《安徽省2025...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">03<font>10</font></div>
<div class="zw1 fr"><a href="info/1001/20169.htm" title="我校2025年教育类研究生和师范生教育教学能力考核笔试顺利完成">我校2025年教育类研究生和师范生教育教...</a><p>3月9日，我校2025年教育类研究生和师范生教育教...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">04<font>26</font></div>
<div class="zw1 fr"><a href="info/1001/17919.htm" title="关于2024年上半年全国高等学校（安徽考区）计算机水平考试报名的通知">关于2024年上半年全国高等学校（安徽考...</a><p>各学院：根据《安徽省教育招生考试院关于做好202...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">04<font>25</font></div>
<div class="zw1 fr"><a href="info/1001/17879.htm" title="关于我校2023-2024学年第二学期普通话水平测试报名工作的通知">关于我校2023-2024学年第二学期普通话水...</a><p>各学院、研究生院：根据《关于进一步加强学校语...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">04<font>12</font></div>
<div class="zw1 fr"><a href="info/1001/17669.htm" title="安庆师范大学2024年专升本技能大赛获奖鼓励政策面试结果公示">安庆师范大学2024年专升本技能大赛获奖...</a><p></p></div>
<div class="clear"></div>
</li>

</ul><script>_showDynClickBatch(['dynclicks_u8_23969','dynclicks_u8_23929','dynclicks_u8_20229','dynclicks_u8_22699','dynclicks_u8_20719','dynclicks_u8_20169','dynclicks_u8_17919','dynclicks_u8_17879','dynclicks_u8_17669'],[23969,23929,20229,22699,20719,20169,17919,17879,17669],"wbnews", 1939795848)</script>

<div class="clear"></div>
</div>
<div class="gd"><a href="<span style='color:red;font-size:9pt'>转换链接错误</span>">更多>></a></div>
 <div class="clear"></div>
</div>

<div id="con_tz_3" class="hidden">
<div class="list1">
<ul>

<li><div class="rq1 fl">03<font>31</font></div>
<div class="zw1 fr"><a href="info/1241/23759.htm" title="2025年外省本科新生录取分数线与省控线对比表">2025年外省本科新生录取分数线与省控线...</a><p>省份省控制线（分）批次最低投档线（分）最低分...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">03<font>31</font></div>
<div class="zw1 fr"><a href="info/1241/23749.htm" title="2025年安徽省本科新生录取分数线与省控线对比表">2025年安徽省本科新生录取分数线与省控...</a><p>科目省控线最高分最低分平均分最低分排名备注历...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">03<font>31</font></div>
<div class="zw1 fr"><a href="info/1241/23739.htm" title="2025年安徽省国家专项、地方专项分专业录取情况一览表(首轮投档)">2025年安徽省国家专项、地方专项分专业...</a><p>批次专业名称专业一志愿最高分最低分平均分计划...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">03<font>31</font></div>
<div class="zw1 fr"><a href="info/1241/23729.htm" title="2025年安徽省第一批次各专业录取情况一览表（首轮投档）">2025年安徽省第一批次各专业录取情况一...</a><p>专业名称科类专业一志愿计划数报考数一志愿最高...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">02<font>28</font></div>
<div class="zw1 fr"><a href="info/1241/20099.htm" title="2024年安徽省第一批次各专业录取情况一览表（首轮投档）">2024年安徽省第一批次各专业录取情况一...</a><p>专业招生类别计划数一志愿报考数录取数最高分最...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">02<font>28</font></div>
<div class="zw1 fr"><a href="info/1241/20089.htm" title="2024年安徽省国家专项、地方专项分专业录取情况一览表(首轮投档)">2024年安徽省国家专项、地方专项分专业...</a><p>2024年安徽省国家专项专业录取情况一览表(首轮投...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">02<font>28</font></div>
<div class="zw1 fr"><a href="info/1241/20079.htm" title="2024年外省本科新生录取分数线与省控线对比表">2024年外省本科新生录取分数线与省控线...</a><p>省份省控制线（分）批次最低投档线（分）最低分...</p></div>
<div class="clear"></div>
</li>


<li><div class="rq1 fl">02<font>27</font></div>
<div class="zw1 fr"><a href="info/1241/20069.htm" title="2024年安徽省本科新生录取分数线与省控线对比表">2024年安徽省本科新生录取分数线与省控...</a><p>科目省控线最高分最低分平均分最低分排名备注历...</p></div>
<div class="clear"></div>
</li>


<li style="margin-right:0;"><div class="rq1 fl">11<font>06</font></div>
<div class="zw1 fr"><a href="info/1241/16649.htm" title="2023年安徽省文理科第一批次各专业录取情况一览表(首轮投档)">2023年安徽省文理科第一批次各专业录取...</a><p></p></div>
<div class="clear"></div>
</li>

</ul><script>_showDynClickBatch(['dynclicks_u9_23759','dynclicks_u9_23749','dynclicks_u9_23739','dynclicks_u9_23729','dynclicks_u9_20099','dynclicks_u9_20089','dynclicks_u9_20079','dynclicks_u9_20069','dynclicks_u9_16649'],[23759,23749,23739,23729,20099,20089,20079,20069,16649],"wbnews", 1939795848)</script>

<div class="clear"></div>
</div>
<div class="gd"><a href="zsxx/sjtj.htm">更多>></a></div>
<div class="clear"></div>
</div>
</div>

<div class="clear"></div>
</div>
</div>

<div class="w1200">
<div class="ky">
<div class="title1"><span><h2>学院专业</h2><i>/ students</i></span><a href="xyzy.htm">更多>></a></div>
<div class="clear"></div>
<div class="kydt mt10">
<ul>

<li class="slow"><a href="info/1191/15579.htm"><span class="img1">


<img src="/__local/B/22/43/50FFE268FE4EE4DE7524CC348E7_7975F45E_4F96.jpg">



</span><p title="各学院本科专业宣传视频简介" style="font-weight:bold;color:#fc0505;">各学院本科专业宣传视频简介</p></a></li>


<li class="slow"><a href="info/1191/24049.htm"><span class="img1">


<img src="/__local/1/21/33/32DCC2175D75716312130E19537_24209560_94E1.jpg">



</span><p title="安庆师范大学各学院及本科专业详细介绍" style="font-weight:bold;color:#fa0707;">安庆师范大学各学院及本科专业详细介绍</p></a></li>

</ul><script>_showDynClickBatch(['dynclicks_u10_15579','dynclicks_u10_24049'],[15579,24049],"wbnews", 1939795848)</script>

<div class="clear"></div>
<dl>
<dd><a href="https://mp.weixin.qq.com/s/BeFajIpZXGzoXGd6woHKkw" title="2026·学院强音 | 智造启航，筑梦未来——智能制造与机器人学院欢迎你！">2026·学院强音 | 智造启航，筑梦未来—...</a><i>06-30</i></dd>
<dd><a href="https://mp.weixin.qq.com/s/-_saaqBKIRwrIl7n-UrL3w" title="2026·学院强音 | 电聚英才，芯启未来——电子信息与集成电路学院">2026·学院强音 | 电聚英才，芯启未来—...</a><i>06-30</i></dd>
<dd><a href="https://mp.weixin.qq.com/s/F3zK-wI3EhfMhvnOVSq6nQ" title="2026·学院强音 | 能源赋能，环境育人——能源环境与空间信息工程学院欢迎你！">2026·学院强音 | 能源赋能，环境育人—...</a><i>06-25</i></dd>
<dd><a href="https://mp.weixin.qq.com/s/Uoyc7W1FknpOkZeDXKGmHg" title="2026·学院强音 | 观乎人文，化成天下——人文学院欢迎你">2026·学院强音 | 观乎人文，化成天下—...</a><i>06-25</i></dd>
<dd><a href="https://mp.weixin.qq.com/s/Aymau87gN5cmou0PakfsJA" title="2026·学院强音 | 春风化雨，诲人不倦——教育科学学院（教师教育学院）欢迎你！">2026·学院强音 | 春风化雨，诲人不倦—...</a><i>06-25</i></dd>
<dd><a href="https://mp.weixin.qq.com/s?__biz=MzU0ODMzMzkxMQ==&mid=2247498158&idx=1&sn=5b0f5f4c82d95a5cf603315668e77017&chksm=fb420996cc3580806a50d112c085769cdee80c15e88e67666d98f8f5df2f5d32055c30ba08f1&cur_album_id=4564922124682870785&scene=190#rd" title="2026·学院强音 | 敬敷化育，格物致知——化学化工学院欢迎你！">2026·学院强音 | 敬敷化育，格物致知—...</a><i>06-25</i></dd>
<div class="clear"></div>
</dl><script>_showDynClickBatch(['dynclicks_u11_15579','dynclicks_u11_24049','dynclicks_u11_25319','dynclicks_u11_25209','dynclicks_u11_25229','dynclicks_u11_25109','dynclicks_u11_25239','dynclicks_u11_25219'],[15579,24049,25319,25209,25229,25109,25239,25219],"wbnews", 1939795848)</script>

</div>
</div>
<div class="px">
<div class="title1"><span><h2>常见问题</h2><i>/ training</i></span><a href="zsxx/cjwt.htm">更多>></a></div>
<div class="clear"></div>

<div class="pxlist">
<ul>

<li><div class="rq2 fl">28<font>2025.06</font></div>
<div class="zw2 fr"><a href="info/1281/9569.htm" title="被你校录取后是否可以转专业？">被你校录取后是否可以转专业？</a><p>详见《安庆师范大学全日制本科生学生转专业管理暂行办法》（校政字〔2018〕16号</p></div></li>


<li><div class="rq2 fl">01<font>2026.07</font></div>
<div class="zw2 fr"><a href="info/1281/15969.htm" title="2026级新生开学时间？录取通知书什么时候到？">2026级新生开学时间？录取通知书什么时候到？</a><p>新生开学时间：2026年9月5日-9月6日各专业学生具体报到时间、地点详见《安庆师范大学2026级新生入学须知》（随录取通知书一同发放），请勿提前来校。菱湖校区报到点设在大礼堂（学生食堂），龙山校区报到点设在体育馆。新生报到期间，学校在安庆火车站、安庆汽车客运中心站设新生接待点。新生也可自己乘公交车或出租车直接到校。《录取通知书》预计在八月上旬左右陆续寄出。</p></div></li>


<li><div class="rq2 fl">19<font>2026.06</font></div>
<div class="zw2 fr"><a href="info/1281/22329.htm" title="怎么快速填报安庆师范大学的专业志愿？">怎么快速填报安庆师范大学的专业志愿？</a><p>一、先确定能不能报考？  建议先查看以下近三年我校录取最低分及位次，主要看2025年专业最低位次排名，若在专业组线上或相差不大，可以报考。  2025年  https://zsw.aqnu.edu.cn/info/1241/23749.htm（安徽省）  https://zsw.aqnu.edu.cn/info/1241/23759.htm（外省）  2024年  https://zsw.aqnu.edu.cn/info/1241/20069.htm（安徽省）  https://zsw.aqnu.edu.cn/info/1241/20079.htm（外省）  2023年  https://zsw.aqnu.edu.cn/info/...</p></div></li>

</ul><script>_showDynClickBatch(['dynclicks_u12_9569','dynclicks_u12_15969','dynclicks_u12_22329'],[9569,15969,22329],"wbnews", 1939795848)</script>


</div>
</div>

<div class="clear"></div>
 

</div>


<div class="box2">
<div class="w1200">
<div class="links">
<ul>
<li class="hover" id="lj4" onmouseover="setTab('lj',4,4)">招考平台</li>
<li id="lj1" onmouseover="setTab('lj',1,4)" class="">校外链接</li>
<li id="lj2" onmouseover="setTab('lj',2,4)" class="">学院链接</li>
<li id="lj3" onmouseover="setTab('lj',3,4)" class="">部门链接</li>


<div class="clear"></div>
</ul>
</div>

<div class="linksbot">
<div class="lj">

<div id="con_lj_4" class="display">
<ul>

<li><a href="https://yun.zjzw.cn/home/teacher" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 71020)">AI智能问答管理平台</a></li>


<li><a href="https://zhaolu.zjzw.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 71021)">招录信息管理系统</a></li>


<li><a href="https://mp.weixin.qq.com/cgi-bin/loginpage?url=%2Facct%2Fwxverifyorder%3Faction%3Dorder_list%26token%3D516079120%26lang%3Dzh_CN" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 71022)">微信公众号管理平台</a></li>


<li><a href="https://school.jobpi.cn/#/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 71025)">校派智慧招就平台</a></li>


<li><a href="https://jwxt.aqnu.edu.cn/teacher/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106133)">教学管理服务平台</a></li>


<li><a href="https://cet.neea.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106134)">全国大学英语四六...</a></li>


<li><a href="https://ncre.neea.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106135)">全国计算机等级考...</a></li>


<li><a href="https://yankao.neea.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106136)">全国硕士研究生招...</a></li>


<li><a href="https://login.chsi.com.cn/passport/login?service=https%3A%2F%2Fpzjh.chsi.com.cn%2Fj_spring_cas_security_check" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106137)">高招来源计划系统</a></li>


<li><a href="https://gaokao.chsi.com.cn/ysl/htgl/yxstkzkl/save.action" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106138)">阳光高考后台管理系统</a></li>


<li><a href="https://gaokao.ahjyzx.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106139)">安徽高招咨询平台</a></li>


<li><a href="https://xgk.ahzsks.cn/stulogin/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 106140)">安徽省高考志愿填...</a></li>

</ul>
 <div class="clear"></div>
 
</div> 
<div id="con_lj_1" class="hidden">
<ul>

<li><a href="http://www.moe.gov.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92805)">中华人民共和国教育部</a></li>


<li><a href="http://jyt.ah.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92811)">安徽省教育厅</a></li>


<li><a href="https://www.neea.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 93042)">教育部教育考试院</a></li>


<li><a href="https://www.chsi.com.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92807)">中国高等教育学生...</a></li>


<li><a href="https://gaokao.chsi.com.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92808)">教育部阳光高考平台</a></li>


<li><a href="https://www.ahzsks.cn/index.htm" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92806)">安徽省教育招生考试院</a></li>


<li><a href="http://gaokao.ahjyzx.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92809)">安徽省高考咨询平台</a></li>


<li><a href="http://www.aqzsks.cn/index.html" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92810)">安庆市教育招生考试网</a></li>

</ul>
 <div class="clear"></div>
</div>
<div id="con_lj_2" class="hidden">

<ul>

<li><a href="http://rwxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92787)">人文学院</a></li>


<li><a href="http://wgy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92788)">外国语学院</a></li>


<li><a href="http://mksxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92801)">马克思主义学院</a></li>


<li><a href="http://fxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92803)">法学院</a></li>


<li><a href="http://jjgl.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92789)">经济与管理学院</a></li>


<li><a href="http://yyxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92790)">音乐学院</a></li>


<li><a href="http://hmjysxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92791)">黄梅剧艺术学院</a></li>


<li><a href="http://msxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92792)">美术学院</a></li>


<li><a href="http://cmxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92802)">传媒学院</a></li>


<li><a href="https://slxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92793)">数理学院</a></li>


<li><a href="http://jsjxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92794)">计算机与信息学院</a></li>


<li><a href="https://dzhxy.aqnu.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92795)">电子工程与智能制...</a></li>


<li><a href="http://hxhg.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92796)">化学化工学院</a></li>


<li><a href="http://zyhj.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92797)">资源环境学院</a></li>


<li><a href="http://jyxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92798)">教师教育学院</a></li>


<li><a href="http://tyxy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92804)">体育学院</a></li>


<li><a href="http://smkx.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92799)">生命科学学院</a></li>


<li><a href="http://jxjy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92800)">继续教育学院</a></li>

</ul>
 <div class="clear"></div>
</div>

<div id="con_lj_3" class="hidden">

<ul>

<li><a href="http://bgs.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92765)">校办公室</a></li>


<li><a href="http://zzb.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92766)">党委组织部（党校）</a></li>


<li><a href="http://xcb.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92767)">党委宣传部（统战部）</a></li>


<li><a href="http://jw.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92768)">纪委办公室</a></li>


<li><a href="http://rsc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92769)">人事处</a></li>


<li><a href="http://jwc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92770)">教务处</a></li>


<li><a href="http://kyc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92771)">科研处</a></li>


<li><a href="http://grad.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92772)">学科建设与研究生...</a></li>


<li><a href="http://xsc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92778)">党委学生工作部、...</a></li>


<li><a href="http://cwc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92779)">财务处</a></li>


<li><a href="http://gzc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92780)">国资处</a></li>


<li><a href="http://shpg.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92781)">教学评建办公室</a></li>


<li><a href="http://bwc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92782)">安全管理处</a></li>


<li><a href="http://tw.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92783)">团委</a></li>


<li><a href="http://gonghui.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92784)">工会</a></li>


<li><a href="http://jjhq.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92785)">基建与后勤管理处</a></li>


<li><a href="http://xb.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92786)">学报编辑部</a></li>


<li><a href="http://wjzx.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92773)">皖江历史文化研究中心</a></li>


<li><a href="http://it.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92774)">信息化建设与管理处</a></li>


<li><a href="http://xyy.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92775)">校医院</a></li>


<li><a href="http://cggl.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92776)">采购管理中心</a></li>


<li><a href="http://lgc.aqnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1939795848, 92777)">离退休人员工作处</a></li>

</ul>
 <div class="clear"></div>
</div>



</div>
<div class="ljt">        
       
               
                        <img src="images/03339EC1778666F4BC97520C47F_8EB07330_1CDD6.jpg">
                
       
</div>
 <div class="clear"></div>

</div>



</div>

</div>


<div class="foot">
<div class="w1200">
<div class="foot_l">
<!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>安庆师范大学招生考试中心</p><p>地址：安徽安庆集贤北路1318号&nbsp; &nbsp; 邮编：246133</p><p>招生考试中心咨询电话：0556-5300117，0556-5300067</p><p>学校纪委办电话：0556-5300053</p>
</div>
<div class="ewm">
    <ul>
           


<li>
<a href="images/zhaokaozhongxingongzhonghao.png">
<img src="images/wx.png" />



<img src="images/weixintupian_20230628171538.jpg" class="preview" />
</a>
</li>
               
                
        
       


<li>
<a href="images/zhaokaozhongxinshipinhao.png">

<img src="images/wb.png" />


<img src="images/zhaokaozhongxinshipinhao.jpg" class="preview" />
</a>
</li>
               
                
        
       


<li>
<a href="images/zhaoshengxiaochengxu.png">


<img src="images/xx.png" />

<img src="images/zhaoshengxiaochengxu.png" class="preview" />
</a>
</li>
               
                
        
       


<li>
<a href="images/xuexiaobenkezhaoshengwang.png">



<img src="images/ewm.png" />
<img src="images/benkezhaoshengwang.jpg" class="preview" />
</a>
</li>
               
                
        
</ul>
            </div>

<div class="clear"></div>
</div>

</div>





<nav id="nav" class="navsj">    
    <div id="scrollerBox" class="scrollerBox">
        <div class="scroller">
                <div class="leftsidebar_box">
                    
<dl>  
       <dt><span><a href="index.htm">首页</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="https://www.aqnu.edu.cn/" target="_blank">学校首页</a></dd>
</dl>


<dl>  
       <dt><span><a href="https://www.aqnu.edu.cn/xxgklm.htm" target="_blank">学校概况</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="https://www.aqnu.edu.cn/xxgklm.htm" target="_blank">学校概况</a></dd>
	<dd><a href="https://www.aqnu.edu.cn/xxgklm/xrld.htm" target="_blank">现任领导</a></dd>
	<dd><a href="xxgk/sdyw.htm">师大要闻</a></dd>
	<dd><a href="https://bnxs.aqnu.edu.cn/index.htm" target="_blank">百年校史</a></dd>
	<dd><a href="https://xcb.aqnu.edu.cn/index/sjsd.htm" target="_blank">校园风光</a></dd>
	<dd><a href="xxgk/xxxl.htm">学校校历</a></dd>
</dl>


<dl>  
       <dt><span><a href="xyzy.htm" target="_blank">学院专业</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="https://mp.weixin.qq.com/s/Uoyc7W1FknpOkZeDXKGmHg" target="_blank">人文学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/6XmkytN6_aUwWZiVL_ecUA" target="_blank">外国语学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/PD9PToqKSsu-huAylr-P3A" target="_blank">马克思主义学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/WXTtEYSpnO2iStpeEojS7w" target="_blank">法学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/AKIhBp9zn5ZeIY5D--Fsgg" target="_blank">经济与管理学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/iCx-U22W3VA_mVZzEmksAw" target="_blank">美术学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s?__biz=MzU0ODMzMzkxMQ==&mid=2247498216&idx=2&sn=bc9dbbd338f48d3715ae79567183d70a&chksm=fb4209d0cc3580c62eda215a4c4faded591cd8d95a12da28f26a131d8cd80128e5542085fe63&cur_album_id=4564922124682870785&scene=190#rd" target="_blank">音乐学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/wu-_94GmCChqYzhI7cuIPg" target="_blank">黄梅剧艺术学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/B2bmh3hjbsSn3sg2w3E9ig" target="_blank">传媒学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/SPiBAk7mIcGh9RXO53F5kQ" target="_blank">数学与统计学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/2F93gTV_eeKHjjj-Mss_Bg" target="_blank">物理与天文空间学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/av8PBSObsvHHTlBrj_BH_w" target="_blank">人工智能与计算机学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/-_saaqBKIRwrIl7n-UrL3w" target="_blank">电子信息与集成电路学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/BeFajIpZXGzoXGd6woHKkw" target="_blank">智能制造与机器人学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s?__biz=MzU0ODMzMzkxMQ==&mid=2247498158&idx=1&sn=5b0f5f4c82d95a5cf603315668e77017&chksm=fb420996cc3580806a50d112c085769cdee80c15e88e67666d98f8f5df2f5d32055c30ba08f1&cur_album_id=4564922124682870785&scene=190&poc_token=HCqBQ2qjOK0D" target="_blank">化学化工学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/F3zK-wI3EhfMhvnOVSq6nQ" target="_blank">能源环境与空间信息工程学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/Aymau87gN5cmou0PakfsJA" target="_blank">教育科学学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/Gv5hurPEdzw9npr7vmWy7Q" target="_blank">体育与健康学院</a></dd>
	<dd><a href="https://mp.weixin.qq.com/s/PHIOC2z3J3RL4fTY9cdLWA" target="_blank">生命科学与食品工程学院</a></dd>
</dl>


<dl>  
       <dt><span><a href="zsxx/zsjh.htm">招生计划</a></span></dt>
</dl>


<dl>  
       <dt><span><a href="zsxx/lnfs/lqgk.htm">历年数据</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="zsxx/lnfs/lqgk.htm">录取概况</a></dd>
	<dd><a href="zsxx/lnfs/fzylqqk.htm">分专业录取情况</a></dd>
	<dd><a href="https://zhaolu.zjzw.cn/release-page/overyears?key=82b185c85a95afa12f176674" target="_blank">历年数据对比</a></dd>
	<dd><a href="zsxx/sjtj.htm">历年数据统计</a></dd>
	<dd><a href="https://zhaolu.zjzw.cn/release-page/analysisva?key=a7bc339f9302ced29835656b" target="_blank">志愿报考分析</a></dd>
</dl>


<dl>  
       <dt><span><a href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6" target="_blank">录取查询</a></span></dt>
</dl>


<dl>  
       <dt><span><a href="zsxx.htm">招生信息</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="zsxx/zszc1.htm">招生政策</a></dd>
	<dd><a href="zsxx/zszc.htm">招生章程</a></dd>
	<dd><a href="zsxx/zsjh.htm">招生计划</a></dd>
	<dd><a href="zsxx/bkzn.htm">报考指南</a></dd>
	<dd><a href="zsxx/lnfs/lqgk.htm">历年分数</a></dd>
	<dd><a href="zsxx/cjcx.htm">成绩查询</a></dd>
	<dd><a href="https://zhaolu.zjzw.cn/release-page/enroll?key=5037ae4d9751c0744a3f53f6" target="_blank">录取查询</a></dd>
	<dd><a href="zsxx/cxzx.htm">查询中心</a></dd>
	<dd><a href="zsxx/rxxz.htm">入学须知</a></dd>
	<dd><a href="zsxx/cjwt.htm">常见问题</a></dd>
</dl>


<dl>  
       <dt><span><a href="ksgg.htm">考试公告</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="ksgg/qgssyjs.htm">全国硕士研究生</a></dd>
	<dd><a href="ksgg/ptzsb.htm">普通专升本</a></dd>
	<dd><a href="ksgg/sjlk.htm">省际联考</a></dd>
	<dd><a href="ksgg/bkdk.htm">本科对口</a></dd>
	<dd><a href="ksgg/gzfl.htm">高职分类</a></dd>
	<dd><a href="ksgg/dexsxw.htm">第二学士学位</a></dd>
	<dd><a href="ksgg/dxyyslj.htm">大学英语四六级</a></dd>
	<dd><a href="ksgg/qgjsjdj.htm">全国计算机等级</a></dd>
	<dd><a href="ksgg/sjsjspks.htm">省计算机水平考试</a></dd>
	<dd><a href="ksgg/gjrcyyks.htm">国际人才英语考试</a></dd>
	<dd><a href="ksgg/jzxk.htm">教资校考</a></dd>
	<dd><a href="ksgg/pthspcs.htm">普通话水平测试</a></dd>
</dl>


<dl>  
       <dt><span><a href="xysp.htm">校园视频</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="xysp/xxxcp.htm">学校宣传片</a></dd>
	<dd><a href="xysp/xyzyxc.htm">学院专业宣传</a></dd>
	<dd><a href="xysp/xyzyxc/rwxy.htm">人文学院</a></dd>
	<dd><a href="xysp/xyzyxc/wgyxy.htm">外国语学院</a></dd>
	<dd><a href="xysp/xyzyxc/mkszyxy.htm">马克思主义学院</a></dd>
	<dd><a href="xysp/xyzyxc/fxy.htm">法学院</a></dd>
	<dd><a href="xysp/xyzyxc/jjyglxy.htm">经济与管理学院</a></dd>
	<dd><a href="xysp/xyzyxc/msxy.htm">美术学院</a></dd>
	<dd><a href="xysp/xyzyxc/ylxy.htm">音乐学院</a></dd>
	<dd><a href="xysp/xyzyxc/hmjysxy.htm">黄梅剧艺术学院</a></dd>
	<dd><a href="xysp/xyzyxc/cmxy.htm">传媒学院</a></dd>
	<dd><a href="xysp/xyzyxc/sxytjxy.htm">数学与统计学院</a></dd>
	<dd><a href="xysp/xyzyxc/wlytwkjxy.htm">物理与天文空间学院</a></dd>
	<dd><a href="xysp/xyzyxc/rgznyjsjxy.htm">人工智能与计算机学院</a></dd>
	<dd><a href="xysp/xyzyxc/dzxxyjcdlxy.htm">电子信息与集成电路学院</a></dd>
	<dd><a href="xysp/xyzyxc/znzzyjqrxy.htm">智能制造与机器人学院</a></dd>
	<dd><a href="xysp/xyzyxc/hxhgxy.htm">化学化工学院</a></dd>
	<dd><a href="xysp/xyzyxc/nyhjykjxxgcxy.htm">能源环境与空间信息工程学院</a></dd>
	<dd><a href="xysp/xyzyxc/jykxxy.htm">教育科学学院</a></dd>
	<dd><a href="xysp/xyzyxc/tyyjkxy.htm">体育与健康学院</a></dd>
	<dd><a href="xysp/xyzyxc/smkxyspgcxy.htm">生命科学与食品工程学院</a></dd>
</dl>


<dl>  
       <dt><span><a href="lxwm.htm">联系我们</a></span><em><img src="images/select_xl01.png"></em></dt>
	<dd><a href="lxwm/zskszx.htm">招生考试中心</a></dd>
	<dd><a href="lxwm/xyzsrx.htm">学院招生热线</a></dd>
	<dd><a href="lxwm/zsksyl.htm">招生考试月历</a></dd>
	<dd><a href="https://answer.eol.cn/board/index?id=1499&source=gw_pc">留言板</a></dd>
</dl>


<script type="text/javascript">
$(".leftsidebar_box dt").css({"background-color":"#8f000b"});
$(".leftsidebar_box dt img").attr("src","images/select_xl01.png");
$(function(){
	$(".leftsidebar_box dd").hide();
	$(".leftsidebar_box dt em").click(function(){
		$(".leftsidebar_box dt").css({"background-color":"#8f000b"})
		
		$(this).parent().parent().find('dd').removeClass("menu_chioce");
		
		$(".leftsidebar_box dt img").attr("src","images/select_xl01.png");
		
		if($(this).parent().parent().find('dd').css("display") == "none")
		{
			$(this).parent().parent().find('img').attr("src","images/select_xl.png");
			$(this).parent().css({"background-color": "#8f000b"});
		}
		$(".menu_chioce").slideUp(); 
		$(this).parent().parent().find('dd').slideToggle();
		$(this).parent().parent().find('dd').addClass("menu_chioce");
	});
})
</script>
                
                  
                    
                </div>
            
            
        </div>
    </div>
    

</nav>
</div>
</body>
<script src="js/bdtxk.js" type="text/javascript"></script>
<script type="text/javascript" src="js/TouchSlide.js"></script>
<script type="text/javascript" src="js/link.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script id="eda_bar_script" src="https://answer.eol.cn/school/pc/school1499.js"></script>
<script type="text/javascript">
$(function() {
    ImgHeight()//banner图片高度
     $(".banner .flexslider").flexslider({
        animation:'fade',
        slideshowSpeed: 6000, //展示时间间隔ms
        animationSpeed: 1000, //滚动时间ms
        touch: true //是否支持触屏滑动
    });
    
}); 
</script>
</html>
