<!DOCTYPE html><html><head>


    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" wraptent="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=0.3">
        <title>关于我校2026年普通高校专升本专业课考试交通出行的温馨提示​-合肥师范学院本科招生网</title><meta name="pageType" content="3">
<meta name="pageTitle" content="关于我校2026年普通高校专升本专业课考试交通出行的温馨提示​">
<META Name="keywords" Content="合肥师范学院本科招生网,招生动态,考试,专业课,交通,专升本,出行,高校,温馨,普通,我校,提示" />

        <link href="../../style/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="../../js/jquery_1.js"></script>

        <script type="text/javascript" src="../../js/jquery.SuperSlide.js"></script>
    <!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:776562626572323076784752505a5742000300034654 -->
<link rel="stylesheet" type="text/css" href="../../content.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1002,'/content.jsp',3865,1090424591)</script>
</head>

    <body>
        <div class="head">
        <div class="h-po-ab">
            <div class="container">
                <div class="top clearfix">
                    <div class="logo fl">
                        

<a href="../../index.htm" title="招生网"><img src="../../images/logox.png"></a>

                    </div>
                    <div class="top_right fr">
                        <ul class="top_right-top fr">
                            
<script language="javascript">
function dosuba250734a()
{
    try{
        var ua = navigator.userAgent.toLowerCase();
        if(ua.indexOf("msie 8")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
        }else if(ua.toLowerCase().indexOf("rv:")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE11+
        }else{
            if (document.all) 
            {
                window.external.addFavorite(document.location.href, document.title);
            }else if(window.sidebar)
            {
                window.sidebar.addPanel( document.title, document.location.href, "");//firefox
            }
            else
            {
                alert(hotKeysa250734a());
            }
        }

    }
    catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
}
function hotKeysa250734a() 
{
    var ua = navigator.userAgent.toLowerCase(); 
    var str = "";    
    var isWebkit = (ua.indexOf('webkit') != - 1); 
    var isMac = (ua.indexOf('mac') != - 1);     
    if (ua.indexOf('konqueror') != - 1) 
    {  
        str = 'CTRL + B'; // Konqueror   
    } 
    else if (window.home || isWebkit || isMac) 
    {        
        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
    }
    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
}
function setHomepagea250734a()
{
    var url = document.location.href;
    if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
    }
    else if (window.sidebar)
    {
        if(window.netscape)
        {
             try{
                  netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
             }catch (e){
                   alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
             }
        }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage',url);
    }
    else
    {
        alert("浏览器不支持自动设为首页，请手动设置");
    }
}
</script>


<li class="fl"><a href="javascript:setHomepagea250734a()">收藏本站</a></li>
<li class="fl">|</li>
<li class="fl"><a onclick="javascript:dosuba250734a();">设为首页</a></li>
























                            <li class="fl">

                                


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
        
        <div class="login clearfix fr">
    <input class="login_txt fl" type="text" placeholder="搜索" maxLength="30" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
    <input class="login_img fl" type="image" src="../../images/search.png" align="absmiddle" v-on:click="onSubmit()">
</div>
        
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "1090424591";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://192.168.89.29:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
                            </li>
                            <i class="clear"></i>
                        </ul>

                        <i class="clear"></i>
                    </div>
                    <!--logo-s-->
                    <div style="  position: absolute;    right: 130px;    top: 80px;    z-index: 999;">
                        <img src="../../images/bgxx.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>










    <div class="menu">
        <ul class="clearfix" id="nav">
                <li class="mainlevel">
                 <a href="../../index.htm" title="首页">首页</a>
            </li>
            <li class="mainlevel">
                 <a href="http://www.hfnu.edu.cn/" target="_blank" title="学校主页">学校主页</a>
            </li>
            <li class="mainlevel">
                 <a href="../../zsxx1/zsdt1.htm" title="招生信息">招生信息</a>
                    <ul class="menu-ejul" style="display: none;">
                            <li class="nav-first">
                                 <a href="../../zsxx1/zsdt1.htm" title="招生动态">招生动态</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../zsxx1/zszc.htm" title="招生政策">招生政策</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../zsjhcx.htm" title="招生计划">招生计划</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../lnfscx.htm" title="历年分数">历年分数</a>
                            </li>
                    </ul>
            </li>
            <li class="mainlevel">
                 <a href="../../lqcx1.htm" title="录取查询">录取查询</a>
            </li>
            <li class="mainlevel">
                 <a href="../../yxzy.htm" title="院系专业">院系专业</a>
                    <ul class="menu-ejul" style="display: none;">
                            <li class="nav-first">
                                 <a href="../../yxzy/wxyxwcbxy.htm" title="文学与新闻传播学院">文学与新闻传播学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/jjyglxy_kjsxy_.htm" title="经济与管理学院（科技商学院）">经济与管理学院（科技商学院）</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/wgyxy.htm" title="外国语学院">外国语学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/wljsxy_jykxxy_.htm" title="未来教师学院（教育科学学院）">未来教师学院（教育科学学院）</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/xlyrzkxxy.htm" title="心理与认知科学学院">心理与认知科学学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/msysjxy1.htm" title="美术与设计学院">美术与设计学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/ylxy.htm" title="音乐学院">音乐学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/sxytjxy.htm" title="数学与统计学院">数学与统计学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/dzxxydqgcxy.htm" title="电子信息与电气工程学院">电子信息与电气工程学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/jcdlxy.htm" title="集成电路学院">集成电路学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/wlyclgcxy.htm" title="物理与材料工程学院">物理与材料工程学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/dkjsygcxy.htm" title="低空技术与工程学院">低空技术与工程学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/jsjkxyjsxy.htm" title="计算机科学与技术学院">计算机科学与技术学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/rgznxy.htm" title="人工智能学院">人工智能学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/hxyzygcxy.htm" title="化学与制药工程学院">化学与制药工程学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/swyspgcxy.htm" title="生物与食品工程学院">生物与食品工程学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/tykxxy.htm" title="体育科学学院">体育科学学院</a>
                            </li>
                            <li class="nav-first">
                                 <a href="../../yxzy/mkszyxy.htm" title="马克思主义学院">马克思主义学院</a>
                            </li>
                    </ul>
            </li>
            <li class="mainlevel">
                 <a href="../../zjhs.htm" title="走进合师">走进合师</a>
            </li>
            <li class="mainlevel">
                 <a href="../../lxwm1.htm" title="联系我们">联系我们</a>
            </li>
            <li class="mainlevel">
                 <a href="../../zshb2026.htm" title="2026招生海报">2026招生海报</a>
            </li>
</ul>


        <script type="text/javascript">
            jQuery("#nav").slide({
                type: "menu", //效果类型
                titCell: ".mainlevel", // 鼠标触发对象
                targetCell: ".menu-ejul", // 效果对象，必须被titCell包含
                effect: "slideDown", //下拉效果
                delayTime: 300, // 效果时间
                triggerTime: 0, //鼠标延迟触发时间
                returnDefault: true //返回默认状态
            });
        </script>
    </div>
    <i class="clear"></i>



                <div class="ej-banner">
            <script language="javascript" src="/system/resource/js/dynclicks.js"></script>
<img src="../../images/ej-banner.jpg" border="0">
        </div>
        <div class="list">
            <div class="container clearfix">
                <div class="list-left fl">
                    <h2>
招生信息</h2>
<div class="sideMenu">
            <h3 class="first on ">
            <a href="../../zsxx1/zsdt1.htm" title="招生动态">招生动态</a>
        </h3>
       
        <ul class="has" style="display:none; display:none; padding:0;margin:0">
        </ul>
        
        <h3 class="  ">
            <a href="../../zsxx1/zszc.htm" title="招生政策">招生政策</a>
        </h3>
       
        <ul class="has" style="display:none; display:none; padding:0;margin:0;  display:none; padding:0;margin:0">
        </ul>
        
        <h3 class="  ">
            <a href="../../zsjhcx.htm" title="招生计划">招生计划</a>
        </h3>
       
        <ul class="has" style="display:none; display:none; padding:0;margin:0;  display:none; padding:0;margin:0">
        </ul>
        
        <h3 class="  ">
            <a href="../../lnfscx.htm" title="历年分数">历年分数</a>
        </h3>
       
        <ul class="has" style="display:none; display:none; padding:0;margin:0;  display:none; padding:0;margin:0">
        </ul>
        
</div>
                    
                    <script type="text/javascript">
                        jQuery(".sideMenu").slide({
                            titCell: "h3", //鼠标触发对象
                            trigger: "click",
                            delayTime: 300, //效果时间
                            triggerTime: 150, //鼠标延迟触发时间（默认150）
                            returnDefault: false //鼠标从.sideMen移走后返回默认状态（默认false）
                        });
                    </script>
                </div>
                <div class="list-right fr">
                    <div class="titname">
                        <h2>
招生动态</h2>
                        <span class="navigation fa fa-home">
    <img src="../../images/content_home.png">当前位置: 
                <a href="../../index.htm">首页</a>
                &gt;
                <a href="../../zsxx1/zsdt1.htm">招生信息</a>
                &gt;
                <a href="../../zsxx1/zsdt1.htm">招生动态</a>
                &gt;
                正文
</span>

                    </div>
                    <script language="javascript" src="../../_dwr/interface/NewsvoteDWR.js"></script><script language="javascript" src="../../_dwr/engine.js"></script><script language="javascript" src="/system/resource/js/news/newscontent.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><form name="_newscontent_fromname">

    <script>
    window.onload=function(){  
    $(".v_news_content>p").eq(0).prepend("<strong>本网讯 </strong>")
} 
    </script>
<div class="page-con">
    <h1 class="page-tit" align="center" style="margin-bottom:10px;">关于我校2026年普通高校专升本专业课考试交通出行的温馨提示​</h1>
    <h2 class="fbt" style="display: none;"></h2>
    <div class="page-date">
     发布时间:2026年04月17日 11:53&nbsp;&nbsp;&nbsp;&nbsp;编辑:李广有&nbsp;核稿：李舒&nbsp; 
<span>终审：王道平&nbsp;</span> 
         
      点击量：<script>_showDynClicks("wbnews", 1090424591, 3865)</script>
    </div>
    <div id="vsb_content" class="zhengwen ar_article"><div class="v_news_content">
<p style="text-indent: 0"><script>var vsb_pdf_image_data = ["/__local/2/31/7B/8C997A186097ABAFD937C8E15EA_F1655C95_3CDAD.jpg"];showVsbpdfIframe("/__local/C/6B/74/6BF0B5694CE2189FBD8DD9D8CC5_726F3B30_20A0E.pdf","100%","600","0","border:1px solid #DDDDDD",vsb_pdf_image_data);</script></p><p><br></p>
</div></div><div id="div_vote_id"></div>
        <div class="other-title">
        <a href="3875.htm">上一篇：关于公布合肥师范学院2026年普通专升本专业课考试成绩查询的通知</a>
        <a href="3855.htm">下一篇：合肥师范学院2026年普通高校专升本专业课考试温馨提示</a>
    </div>
</div>
</form>



                </div>
            </div>
        </div>

         <div class="footer">
        <div class="container clearfix">
                
<a class="fl fot-logo" href="http://www.hfnu.edu.cn/" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1090424591, 74241)" target="_blank"><img src="../../images/fot-logott.png"></a>

            <div class="fl lxfs">
                <div class="fot-lm">联系方式</div>
                <script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<p><span style="font-size: 14px;">锦绣校区地址：合肥市莲花路1688号（230601）</span></p>
<p><span style="font-size: 14px;">滨湖校区地址：合肥市黄麓科教园区书香路（238076）</span></p>
<p><span style="font-size: 14px;">三孝口校区地址：合肥市金寨路327号（230061）</span></p>
<p><span style="font-size: 14px;">招生办电话：0551-65159912、65151152、63674808、62836350（暑假期间）</span></p>
<p><span style="font-size: 14px;">纪委办公室：0551-63828650&nbsp; &nbsp;</span><span style="font-size: 14px;">邮箱：zsb@hfnu.edu.cn</span></p>

            </div>
            <div class="fl wzlj">
                <div class="fot-lm">网站链接</div>
                <script language="javascript" src="/system/resource/js/openlink.js"></script><UL class="wzlj-ul">
    <LI><a href="http://www.moe.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1090424591, 55215)">中华人民共和国教育部</a></li>
    <LI><a href="http://www.ahedu.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1090424591, 55216)">安徽省教育厅</a></li>
    <LI><a href="http://www.ahzsks.cn/index.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1090424591, 55217)">安徽教育招生考试院</a></li>
    <LI><a href="https://gaokao.chsi.com.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1090424591, 55218)">阳光高考</a></li>
    <LI><a href="http://jwc.hfnu.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1090424591, 55219)">中国运动文化教育网</a></li>
</UL>


            </div>

            <div class="fr gzwm">
                <div class="fot-lm">关注我们</div>
                    

<ul class="gzwm-ul clearfix">
	<li class="fl "><img src="../../images/14/11/06/hefeishifanxueyuanzhaoshengban.jpg"><span>招生办官微</span></li>
	<li class=" fr"><img src="../../images/gfwx-ewm.png"><span>学校官微</span></li>
</ul>

            </div>
        </div>


    </div>





</body></html>
