<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>通知公告-安徽师范大学本科招生信息网</title><meta name="pageType" content="2">
<meta name="pageTitle" content="通知公告">
<META Name="keywords" Content="安徽师范大学本科招生信息网,通知公告" />


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="">
<meta name="viewport" content="width=1440">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<link rel="shortcut icon" href="../../images/com/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/cms.css" type="text/css">
<link rel="stylesheet" href="../../css/list.css" type="text/css">
<script type="text/javascript" src="../../js/j3.js"></script>
<script type="text/javascript" src="../../js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="../../js/BigSlide.js"></script>

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307678475d505a5742000300034451 -->
<link rel="stylesheet" type="text/css" href="../../list.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1009,'/list.jsp',-1,1625903994)</script>
</head>
<body>
    <div class="wrapper page_index">
        <div class="header">
    <div class="l_con">
         <div class="left">
            <a class="logo" href="http://www.ahnu.edu.cn" target=""></a>
            <a class="logo_jy" href="../../index.htm" target=""></a>

        </div>
        <div class="right">




<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script>
<div id="divu0"></div>
<script type="text/html" id="htmlu0">
    <div id="appu0">
        <div v-if="!isError" class="search">
            <input type="text" class="btn_input" placeholder="请输入搜索关键词" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="btn_search" name="submit_button" type="submit" value="" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu0").html($("#htmlu0").text());
</script>
<script>
    var appOwner = "1625903994";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu0",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://openlab.ahnu.edu.cn/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

            <div class="menus">
                <ul>    <li><a href="../../index.htm" title="首页">首页</a>
</li>
    <li><a href="http://www.ahnu.edu.cn/xxgk/xxjj.htm" title="师大概况">师大概况</a>
   
<ul class="subs">
<li><a href="http://www.ahnu.edu.cn/xxgk/xxjj.htm" title="学校概况">学校概况</a></li>
<li><a href="http://www.ahnu.edu.cn/xxgk/xxyg.htm" title="历史沿革">历史沿革</a></li>
<li><a href="http://www.ahnu.edu.cn/xxgk/xrlin.htm" title="现任领导">现任领导</a></li>
<li><a href="http://www.ahnu.edu.cn/xxgk/lrld.htm" title="历任领导">历任领导</a></li>
<li><a href="http://www.ahnu.edu.cn/xxgk/jbsj.htm" title="基本数据">基本数据</a></li>
</ul>
</li>
    <li><a href="../../zsxx.htm" title="招生信息">招生信息</a>
   
<ul class="subs">
<li><a href="../zszc1.htm" title="招生章程">招生章程</a></li>
<li><a href="https://zsjy2.ahnu.edu.cn/recruit/viewLngk/enrollmentHistoryProvinceList.html" title="招生计划">招生计划</a></li>
<li><a href="https://zsjy2.ahnu.edu.cn/recruit/viewLngk/indexNew.html" title="历年分数">历年分数</a></li>
<li><a href="../tzgg.htm" title="通知公告">通知公告</a></li>
<li><a href="../zszc.htm" title="招生政策">招生政策</a></li>
<li><a href="https://zsjy2.ahnu.edu.cn/recruit/recruitOnline/signUp.html?current=1 " title="网上报名">网上报名</a></li>
<li><a href="https://zsjy2.ahnu.edu.cn/recruit/recruitOnline/signUp.html?current=1" title="查询中心">查询中心</a></li>
</ul>
</li>
    <li><a href="../../zyfc.htm" title="专业风采">专业风采</a>
   
</li>
    <li><a href="../../gysd.htm" title="光影师大">光影师大</a>
   
<ul class="subs">
<li><a href="../../gysd/tssd.htm" title="图说师大">图说师大</a></li>
<li><a href="../../gysd/stsd.htm" title="视听师大">视听师大</a></li>
</ul>
</li>
    <li><a href="../../lxwm.htm" title="联系我们">联系我们</a>
   
<ul class="subs">
<li><a href="http://www.ahnu.edu.cn/xxgk/xxdt.htm" title="学校地图">学校地图</a></li>
<li><a href="http://www.ahnu.edu.cn/xxgk/xqqj.htm" title="全景校园">全景校园</a></li>
</ul>
</li>
</li>
</ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $(window).on('scroll',scrollFixed);
            scrollFixed();
            function scrollFixed(){
                var stop = $(window).scrollTop();
                if( stop > 115 ){
                    $('.wrapper .header').addClass('header_fixed');
                }else{
                    $('.wrapper .header').removeClass('header_fixed');
                }
            }
        });
    </script>
</div>
        <div class="swiper-container erbanner">
            <ul class="swiper-wrapper">    <script language="javascript" src="/system/resource/js/dynclicks.js"></script>    
                <li class="swiper-slide">
                        <img src="../../images/index.files/erdbg.png">
                </li>
</ul>
        </div>
        <div class="main">
            <div class="mainleft left">
                           <div class="navTit">招生信息</div>
                <div class="ernav">
                    <ul>
    <li><a href="../zszc1.htm" title="招生章程">招生章程</a></li>
    <li><a href="https://zsjy2.ahnu.edu.cn/recruit/viewLngk/enrollmentHistoryProvinceList.html" title="招生计划">招生计划</a></li>
    <li><a href="https://zsjy2.ahnu.edu.cn/recruit/viewLngk/indexNew.html" title="历年分数">历年分数</a></li>
    <li class="hover"><a href="../tzgg.htm" title="通知公告">通知公告</a></li>
    <li><a href="../zszc.htm" title="招生政策">招生政策</a></li>
    <li><a href="https://zsjy2.ahnu.edu.cn/recruit/recruitOnline/signUp.html?current=1 " title="网上报名">网上报名</a></li>
    <li><a href="https://zsjy2.ahnu.edu.cn/recruit/recruitOnline/signUp.html?current=1" title="查询中心">查询中心</a></li>
</ul>
                </div>
</div>
            <div class="mainrig right">
                <div class="localbox">
                    <div class="lmmc">
通知公告</div>
                    <div class="local">        
                <a href="../../index.htm">首页</a>

                >>
                <a href="../../zsxx.htm">招生信息</a>

                >>
                <a href="../tzgg.htm">通知公告</a>
</div>
                    <div class="clear"></div>
                </div>
                <div class="erlist"><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><div>
    <UL>
            <li>
            <span>2026-03-29</span><a href="../../info/1009/4143.htm" target="_blank" title="关于我校2026年普通专升本招生申请技能大赛获奖鼓励政策面试考生考核安排的公告">关于我校2026年普通专升本招生申请技能大赛获奖鼓励政策面试考生考核安排的公告</a>
           </li>
        <li>
            <span>2026-03-29</span><a href="../../info/1009/4163.htm" target="_blank" title="关于我校2026年普通专升本招生免试考生现场审核的公告">关于我校2026年普通专升本招生免试考生现场审核的公告</a>
           </li>
        <li>
            <span>2026-02-27</span><a href="../../info/1009/4113.htm" target="_blank" title="关于我校运动训练专业手球项目报考的温馨提示">关于我校运动训练专业手球项目报考的温馨提示</a>
           </li>
        <li>
            <span>2026-01-29</span><a href="../../info/1009/4103.htm" target="_blank" title="安徽省2026年普通高校专升本考试招生工作安排">安徽省2026年普通高校专升本考试招生工作安排</a>
           </li>
        <li>
            <span>2026-01-27</span><a href="../../info/1009/4093.htm" target="_blank" title="关于我校2026年普通专升本招生的相关说明">关于我校2026年普通专升本招生的相关说明</a>
           </li>
        <li>
            <span>2025-08-01</span><a href="../../info/1009/4033.htm" target="_blank" title=" 安徽师范大学2025年招生录取快报（十七）"> 安徽师范大学2025年招生录取快报（十七）</a>
           </li>
        <li>
            <span>2025-07-31</span><a href="../../info/1009/4013.htm" target="_blank" title=" 安徽师范大学2025年招生录取快报（十六）"> 安徽师范大学2025年招生录取快报（十六）</a>
           </li>
        <li>
            <span>2025-07-29</span><a href="../../info/1009/4023.htm" target="_blank" title=" 安徽师范大学2025年招生录取快报（十五）"> 安徽师范大学2025年招生录取快报（十五）</a>
           </li>
        <li>
            <span>2025-07-27</span><a href="../../info/1009/4003.htm" target="_blank" title=" 安徽师范大学2025年招生录取快报（十四）"> 安徽师范大学2025年招生录取快报（十四）</a>
           </li>
        <li>
            <span>2025-07-26</span><a href="../../info/1009/3993.htm" target="_blank" title="安徽师范大学2025年招生录取快报（十三）">安徽师范大学2025年招生录取快报（十三）</a>
           </li>
    </UL>
    <link rel="stylesheet" Content-type="text/css" href="/system/resource/css/pagedown/sys.css"><div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:20px;text-align:center;"><span class="p_t">共262条</span> <span class="p_pages"><span class="p_first p_fun"><a href="../tzgg.htm">首页</a></span><span class="p_prev p_fun"><a href="../tzgg.htm">上页</a></span><span class="p_no"><a href="../tzgg.htm">1</a></span><span class="p_no_d">2</span><span class="p_no"><a href="25.htm">3</a></span><span class="p_no"><a href="24.htm">4</a></span><span class="p_no"><a href="23.htm">5</a></span><span class="p_dot">...</span><span class="p_no"><a href="1.htm">27</a></span><span class="p_next p_fun"><a href="25.htm">下页</a></span><span class="p_last p_fun"><a href="1.htm">尾页</a></span></span></div>
</div><script>_showDynClickBatch(['dynclicks_u6_4143','dynclicks_u6_4163','dynclicks_u6_4113','dynclicks_u6_4103','dynclicks_u6_4093','dynclicks_u6_4033','dynclicks_u6_4013','dynclicks_u6_4023','dynclicks_u6_4003','dynclicks_u6_3993'],[4143,4163,4113,4103,4093,4033,4013,4023,4003,3993],"wbnews", 1625903994)</script></div>
            </div>
            <div class="clear"></div>
        </div>
       <div class="footer">
    <div class="info">
    <div class="yqlj l_con">
     <b style="font-size:14px;color:#fff;margin-left:10px;">友情链接：</b><script language="javascript" src="/system/resource/js/openlink.js"></script><select id="ddl01" name="ddl01" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.selectedIndex=0" style="font-size: 14px;    margin: 0px 10px;    border: none;    background: #ece8e8;    height: 26px;line-height:26px;    width: 160px;    padding: 0 5px;color:#333;">
    <option selected="selected" value="#" style="font-size:14px;color:#333;"> — —  校内链接 — — </option>  

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.ahnu.edu.cn/" style="font-size:14px;">安徽师范大学</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://wxy.ahnu.edu.cn" style="font-size:14px;">文学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://marx.ahnu.edu.cn" style="font-size:14px;">马克思主义学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://law.ahnu.edu.cn" style="font-size:14px;">法学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://jgxy.ahnu.edu.cn" style="font-size:14px;">经济管理学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://music.ahnu.edu.cn" style="font-size:14px;">音乐学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://msxy.ahnu.edu.cn" style="font-size:14px;">美术学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://social.ahnu.edu.cn" style="font-size:14px;">历史与社会学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://edu.ahnu.edu.cn" style="font-size:14px;">教育科学学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://flc.ahnu.edu.cn" style="font-size:14px;">外国语学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://ty.ahnu.edu.cn" style="font-size:14px;">体育学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://chm.ahnu.edu.cn" style="font-size:14px;">新闻与传播学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://math.ahnu.edu.cn" style="font-size:14px;">数学与统计学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://ci.ahnu.edu.cn/" style="font-size:14px;">计算机与信息学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://physics.ahnu.edu.cn/" style="font-size:14px;">物理与电子信息学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://chem.ahnu.edu.cn/" style="font-size:14px;">化学与材料科学学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://tourism.ahnu.edu.cn/" style="font-size:14px;">地理与旅游学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://biology.ahnu.edu.cn/" style="font-size:14px;">生命科学学院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://envirsci.ahnu.edu.cn/" style="font-size:14px;">环境科学与工程学院</option>
</select>
              <select id="ddl01" name="ddl01" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.selectedIndex=0" style="font-size: 14px;    margin: 0px 10px;    border: none;    background: #ece8e8;    height: 26px;line-height:26px;    width: 160px;    padding: 0 5px;text-align:center;color:#333;">
    <option selected="selected" value="#" style="font-size:14px;"> — —  招生考试院 — —  </option>  
                

    <option vsbhrefname="value" aa245822aa="57394" value="http://jyt.ah.gov.cn/" style="font-size:14px;">安徽省教育厅</option>

    <option vsbhrefname="value" aa245822aa="57394" value="https://www.ahzsks.cn/index.htm" style="font-size:14px;">安徽省教育招生考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.cqksy.cn/site/index.html" style="font-size:14px;">重庆市教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.sceea.cn/" style="font-size:14px;">四川省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.hneao.edu.cn/" style="font-size:14px;">湖南省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.eeafj.cn/" style="font-size:14px;">福建省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.heao.com.cn/" style="font-size:14px;">河南招生考试信息网</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.hbea.edu.cn/" style="font-size:14px;">湖北省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.jseea.cn/" style="font-size:14px;">江苏省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.sdzs.gov.cn/" style="font-size:14px;">山东省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://ea.hainan.gov.cn/" style="font-size:14px;">海南省考试局</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.jxeea.cn/" style="font-size:14px;">江西省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.gxeea.cn/" style="font-size:14px;">广西招生考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.hebeea.edu.cn/" style="font-size:14px;">河北省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.lnzsks.com/" style="font-size:14px;">辽宁招生考试之窗</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.jleea.edu.cn/" style="font-size:14px;">吉林省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.ynzs.cn/" style="font-size:14px;">云南省招考频道</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.sneac.com/" style="font-size:14px;">陕西招生考试信息网</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.ganseea.cn/" style="font-size:14px;">甘肃省教育考试院</option>

    <option vsbhrefname="value" aa245822aa="57394" value="http://www.qhjyks.com/" style="font-size:14px;">青海省教育考试网</option>
</select>
                 <select id="ddl01" name="ddl01" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.selectedIndex=0" style="font-size: 14px;    margin: 0px 10px;    border: none;    background: #ece8e8;    height: 26px;line-height:26px;    width: 160px;    padding: 0 5px;color:#333;">
    <option selected="selected" value="#" style="font-size:14px;"> — —  示范高中 — —  </option>  
</select>
    </div>
        <div class="l_con">
            <div class="chunk_3">
                <div class="con"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p><a href="../../info/1006/1433.htm" target="_blank">联系我们</a> &nbsp;| <a href="https://zsjy2.ahnu.edu.cn/login.html" target="_blank">管理</a> &nbsp;| &nbsp; 皖ICP备15022060号-1 &nbsp;皖公网安备34020202000153号</p><p>本科招生及咨询电话：0553-5910161 &nbsp;学校纪检监察电话：0553-5910017</p><p>电邮：asdzsb@ahnu.edu.cn &nbsp; &nbsp;&nbsp; 地址：芜湖市九华南路189号 &nbsp; &nbsp; &nbsp;邮编：241000&nbsp; &nbsp; &nbsp;&nbsp;</p><p>版权所有：安徽师范大学本科生院&nbsp; &nbsp; Copyright 2007 Anhui Normal University. All rights reserved.</p></div>
            </div>
            <div class="chunk_4">    
<div class="code1">
<div class="code_img">
                        <img src="../../images/index.files/ewm1.png" width="100">
</div>
                    <div class="txt">师大官方微信二维码</div>
                </div>

<div class="code2">
<div class="code_img">
                        <img src="../../images/ewm1.png" width="100">
</div>
                    <div class="txt">师大本科生院微信二维码</div>
                </div>
</div>
        </div>
    </div>
</div>
    </div>
</body>

















